In [1]:
import os
import chardet
import numpy as np
import pandas as pd
import joblib

In [2]:
os.getcwd()

'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\live'

In [3]:
os.chdir('../data')

In [4]:
os.listdir()

['App_Usage.csv',
 'APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Prep.csv',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_Copy.xlsx',
 'NA_Sample.xlsx',
 'Online_Mall.csv',
 'test.xlsx']

In [5]:
fileName = 'APT_Prep.csv'

In [6]:
with open(file = fileName, mode = 'rb') as file:
    text = file.read()

In [7]:
text[:100]

b'\xec\x95\x84\xed\x8c\x8c\xed\x8a\xb8,\xec\x8b\x9c,\xea\xb5\xac,\xeb\x8f\x99,\xec\xa7\x80\xeb\xb2\x88,\xea\xb1\xb4\xec\xb6\x95\xeb\x85\x84\xeb\x8f\x84,\xea\xb1\xb0\xeb\x9e\x98\xec\x9d\xbc,\xec\xa0\x84\xec\x9a\xa9\xeb\xa9\xb4\xec\xa0\x81,\xec\xb8\xb5,\xea\xb1\xb0\xeb\x9e\x98\xea\xb8\x88\xec\x95\xa1\r\n\xec\x8b\xa0\xeb\x8f\x99\xec\x95\x84\xeb\xb8\x94\xeb\xa3\xa8\xec\x95'

In [8]:
chardet.detect(text)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [11]:
price = pd.read_csv(fileName, encoding = 'UTF-8', parse_dates = ['거래일'])

In [12]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139917 entries, 0 to 139916
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   아파트     139917 non-null  object
 1   시       139917 non-null  object
 2   구       139917 non-null  object
 3   동       139917 non-null  object
 4   지번      139917 non-null  object
 5   건축년도    139917 non-null  int64
 6   거래일     139917 non-null  datetime64[ns]
 7   전용면적    139917 non-null  float64
 8   층       139917 non-null  int64
 9   거래금액    139917 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 10.7+ MB

In [13]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,149000

In [14]:
price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3

In [15]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,100000,2947.218005
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,162000,3273.128023
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,88000,2642.161769
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,130000,2206.449622
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,149000,3320.278209

In [16]:
price['평당금액'].round(3)

0         2947.218
1         3273.128
2         2642.162
3         2206.450
4         3320.278
            ...
139912    2938.508
139913    4005.575
139914    4260.563
139915    2298.248
139916    3025.504
Name: 평당금액, Length: 139917, dtype: float64

In [22]:
pd.options.display.precision = 3

In [23]:
price['평당금액']

0         2947.218
1         3273.128
2         2642.162
3         2206.450
4         3320.278
            ...
139912    2938.508
139913    4005.575
139914    4260.563
139915    2298.248
139916    3025.504
Name: 평당금액, Length: 139917, dtype: float64

In [24]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,100000,2947.218
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,162000,3273.128
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,88000,2642.162
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,130000,2206.450
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,149000,3320.278

In [25]:
price['거래금액'] = price['거래금액'] / 10000

In [26]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.162
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.450
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278

In [34]:
pd.reset_option('display.precision')

In [35]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209

In [36]:
price['거래년도'] = price['거래일'].dt.year

In [37]:
price['경과년수'] = price['거래년도'] - price['건축년도']

In [38]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17

In [39]:
price['거래월'] = price['거래일'].dt.strftime('%m월')

In [40]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13,01월
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12,01월
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26,01월
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16,01월
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17,01월

In [41]:
locs = price['평당금액'].ge(5000)
locs

0         False
1         False
2         False
3         False
4         False
          ...
139912    False
139913    False
139914    False
139915    False
139916    False
Name: 평당금액, Length: 139917, dtype: bool

In [43]:
price['금액구간'] = np.where(locs, '5천 이상', '5천 미만')

In [45]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13,01월,5천 미만
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12,01월,5천 미만
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26,01월,5천 미만
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16,01월,5천 미만
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17,01월,5천 미만

In [47]:
imsi = price.drop(columns = ['금액구간']).copy()

In [48]:
imsi.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218005,2020,13,01월
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128023,2020,12,01월
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.161769,2020,26,01월
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.449622,2020,16,01월
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278209,2020,17,01월

In [52]:
imsi.loc[imsi['평당금액'].ge(5000), '금액구간'] = '5천 이상'

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구간
139897,고덕그라시움,서울특별시,강동구,고덕동,693,2019,2022-12-20,59.7850,20,10.05,5547.378105,2022,3,12월,5천 이상
139898,고덕그라시움,서울특별시,강동구,고덕동,693,2019,2022-12-24,84.0460,33,14.30,5614.782381,2022,3,12월,5천 이상
139899,고덕자이,서울특별시,강동구,상일동,521,2021,2022-12-02,59.9398,23,9.60,5285.302921,2022,1,12월,5천 이상
139900,고덕아르테온,서울특별시,강동구,상일동,519,2020,2022-12-02,59.9800,10,9.80,5391.797266,2022,2,12월,5천 이상
139901,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2022-12-03,84.9800,8,9.18,3564.838786,2022,11,12월,NaN
139902,고덕센트럴IPARK,서울특별시,강동구,상일동,513,2019,2022-12-04,84.9700,5,11.90,4621.631164,2022,3,12월,NaN
139903,고덕아르테온,서울특별시,강동구,상일동,519,2020,2022-12-06,84.9500,15,12.95,5030.606239,2022,2,12월,5천 이상
139904,고덕센트럴IPARK,서울특별시,강동구,상일동,513,2019,2022-12-17,74.8800,9,10.90,4803.685897,2022,3,12월,NaN
139905,고덕아르테온,서울특별시,강동구,상일동,519,2020,2022-12-17,59.9800,17,10.50,5776.925642,2022,2,12월,5천 이상
139906,청광플러스원(큐브1차),서울특별시,강동구,길동,387-5,2012,2022-12-16,17.0750,7,0.87,1681.405564,2022,10,12월,NaN
139907,청광플러스원(큐브1차),서울특별시,강동구,길동,387-5,2012,2022-12-16,16.6850,9,0.85,1681.150734,2022,10,12월,NaN
139908,현대웰하임(201동),서울특별시,강동구,길동,343-2,2012,2022-12-19,13.1090,5,1.00,2517.354489,2022,10,12월,NaN
139909,청광플러스원(큐브1차),서울특별시,강동구,길동,387-5,2012,2022-12-20,17.0750,11,1.10,2125.915081,2022,10,12월,NaN
139910,선사현대아파트,서울특별시,강동구,암사동,509,2000,2022-12-02,58.6800,25,7.60,4274.028630,2022,22,12월,NaN
139911,중앙하이츠,서울특별시,강동구,암사동,493-14,1998,2022-12-03,59.5200,8,5.30,2938.508065,2022,24,12월,NaN
139912,중앙하이츠,서울특별시,강동구,암사동,493-14,1998,2022-12-03,59.5200,8,5.30,2938.508065,2022,24,12월,NaN
139913,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008,2022-12-06,111.2200,10,13.50,4005.574537,2022,14,12월,NaN
139914,선사현대아파트,서울특별시,강동구,암사동,509,2000,2022-12-10,59.6400,17,7.70,4260.563380,2022,22,12월,NaN
139915,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996,2022-12-06,208.9200,18,14.55,2298.248133,2022,26,12월,NaN
139916,강동리버스트4단지,서울특별시,강동구,강일동,114,2020,2022-12-29,59.9900,7,5.50,3025.504251,2022,2,12월,NaN

In [ ]:
imsi.loc[imsi['평당금액'].lt(5000), '금액구간'] = '5천 미만'