In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a = [ [1, 2], [3, 4], [5, 6] ]

In [ ]:
np.array(a)

In [ ]:
df = pd.DataFrame(data = a)
df

In [ ]:
type(df)

In [ ]:
df = pd.DataFrame(data = a, index = range(1, 4), columns = ['A', 'B'])
df

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.values

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.info

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[0:2, :]

In [ ]:
df.iloc[:, 0:2]

In [ ]:
df.iloc[:, [1, 0]]

In [ ]:
df

In [ ]:
df.loc[1]

In [ ]:
df.loc[[1]]

In [ ]:
df.loc[1:3]

In [ ]:
df.loc[1:3, :]

In [ ]:
df.loc[:, 'A':'B']

In [ ]:
df.loc[:, ['B', 'A']]

In [ ]:
'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\data'

In [ ]:
'C:/Users/hdsce/Documents/PythonDataAnalysis1/data'

In [ ]:
r'C:\Users\hdsce\Documents\PythonDataAnalysis1\data'

In [ ]:
'I\'m a boy'

In [ ]:
import sys

In [ ]:
sys.version

In [ ]:
import os
import chardet
import numpy as np
import pandas as pd
import joblib

In [ ]:
os.getcwd()

In [ ]:
os.chdir('C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\data')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('..')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('./live')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('../data')

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
os.mkdir('./temp')

In [ ]:
os.listdir()

In [ ]:
os.path.isdir('Online_Mall.csv')

In [ ]:
for file in os.listdir():
    if '.xlsx' in file:
        print(file)

In [ ]:
result = []
for file in os.listdir():
    if ('.xlsx' in file) or ('.csv' in file):
        result.append(file)

In [ ]:
result

In [ ]:
[file for file in os.listdir() if 'Price' in file]

In [ ]:
pd.read_excel('APT_Price_Seoul_2020_2022.xlsx')

In [ ]:
pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', \
              sheet_name = '2022년', \
              usecols = range(1, 12), \
              skiprows = 3, \
              thousands = ',')

In [ ]:
%time df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', \
                          sheet_name = '2020~2022년')

In [ ]:
df1.info()

In [ ]:
%time df1.to_excel('test.xlsx', index = False)

In [ ]:
os.mkdir('◆긴급')

In [ ]:
os.mkdir('2021년')

In [ ]:
os.listdir()

In [ ]:
%%time
df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', 
                    sheet_name = '2020~2022년')

In [ ]:
import time

In [ ]:
start = time.time()
df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', 
                    sheet_name = '2020~2022년')
end = time.time()

In [ ]:
f'코드 실행 소요 시간: {(end - start):.2f}초'

In [ ]:
start

In [ ]:
os.listdir()

!pip install tqdm

In [ ]:
from tqdm import tqdm

In [ ]:
dfAll = pd.DataFrame()

for i in tqdm(range(3)):
    df = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx',
                       sheet_name = i, 
                       skiprows = 3, 
                       usecols = range(1, 12), 
                       thousands = ',')
    dfAll = pd.concat(objs = [dfAll, df], ignore_index = True)

In [ ]:
dfAll.info()

In [ ]:
df1.info()

In [ ]:
df1.head()

In [ ]:
dfAll

In [ ]:
df.head(n = 10)

In [ ]:
df.tail(n = 10)

In [ ]:
df.sample()

In [ ]:
df.sample(random_state = 1234)

In [ ]:
os.listdir()

In [ ]:
pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', nrows = 10)

In [ ]:
?pd.read_excel

In [ ]:
??pd.read_excel

In [ ]:
[file for file in os.listdir() if '.csv' in file]

In [ ]:
fileName = 'APT_Price_Seoul_2020_2022.csv'

In [ ]:
pd.read_csv(fileName, encoding = 'CP949')

In [ ]:
with open(file = fileName, mode = 'rb') as file:
    text = file.read()

In [ ]:
text[:100]

In [ ]:
chardet.detect(text[:100])

In [ ]:
chardet.detect(text)

In [ ]:
pd.read_csv(fileName, encoding = 'CP949')

In [ ]:
os.listdir()

In [ ]:
dfs = pd.read_excel(
    io = 'APT_Price_Seoul_2020_2022.xlsx', 
    sheet_name = None, 
    nrows = 10
)

In [ ]:
type(dfs)

In [ ]:
dfs

In [ ]:
dfs.keys()

In [ ]:
dfAll = pd.DataFrame()
for key in dfs.keys():
    df = dfs[key]
    dfAll = pd.concat(objs = [dfAll, df], ignore_index = True)

In [ ]:
dfAll.info()

In [ ]:
os.listdir()

In [ ]:
pd.read_csv('APT_Price_Seoul_2020_2022.csv', 
            encoding = 'CP949', 
            sep = ',', 
            parse_dates = ['거래일'], 
            thousands = ',')

In [ ]:
%%time
df2 = pd.read_csv(fileName, encoding = 'CP949', parse_dates = ['거래일'])

In [ ]:
df2.info()

In [ ]:
%%time
df2.to_csv('test.csv', index = False)

In [ ]:
%time joblib.dump(value = df2, filename = 'test.z')

In [ ]:
%time df3 = joblib.load(filename = 'test.z')

In [ ]:
df3.info()

In [ ]:
df4 = pd.read_csv('test.csv')

In [ ]:
df4.info()

In [ ]:
joblib.dump(value = [df1, df2, df3], filename = 'test2.z')

In [ ]:
df1, df2, df3 = joblib.load(filename = 'test2.z')

In [ ]:
files = [file for file in os.listdir() if 'test' in file]
files

In [ ]:
for file in files:
    os.remove(file)

In [ ]:
folders = [folder for folder in os.listdir() if os.path.isdir(folder)]
folders

In [ ]:
for folder in folders:
    os.rmdir(folder)

In [1]:
import os
import joblib
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\live'

In [3]:
os.chdir('../data')

In [4]:
os.listdir()

['App_Usage.csv',
 'APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_Copy.xlsx',
 'NA_Sample.xlsx',
 'Online_Mall.csv']

In [5]:
price = pd.read_csv('APT_Price_Seoul_2020_2022.csv', encoding = 'CP949')

In [6]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  object
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 11.7+ MB

In [7]:
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [8]:
price['지역코드']

0         11110
1         11110
2         11110
3         11110
4         11110
          ...
139914    11740
139915    11740
139916    11740
139917    11740
139918    11740
Name: 지역코드, Length: 139919, dtype: int64

In [9]:
price[['지역코드']]

         지역코드
0       11110
1       11110
2       11110
3       11110
4       11110
...       ...
139914  11740
139915  11740
139916  11740
139917  11740
139918  11740

[139919 rows x 1 columns]

In [10]:
price[['아파트', '지역코드']]

                   아파트   지역코드
0          신동아블루아광화문의꿈  11110
1       광화문스페이스본(106동)  11110
2                세종로대우  11110
3                 킹스매너  11110
4             경희궁파크팰리스  11110
...                ...    ...
139914           중앙하이츠  11740
139915         롯데캐슬퍼스트  11740
139916         선사현대아파트  11740
139917         파크뷰진도맨션  11740
139918       강동리버스트4단지  11740

[139919 rows x 2 columns]

In [13]:
price.columns

Index(['지역코드', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층',
       '거래금액'],
      dtype='object')

In [14]:
price[['거래일', '전용면적', '층', '거래금액']]

               거래일    전용면적   층     거래금액
0       2020-01-03  111.97   6  100,000
1       2020-01-02  163.33   2  162,000
2       2020-01-06  109.91  11   88,000
3       2020-01-09  194.43   4  130,000
4       2020-01-20  148.09   8  149,000
...            ...     ...  ..      ...
139914  2022-12-03   59.52   8   53,000
139915  2022-12-06  111.22  10  135,000
139916  2022-12-10   59.64  17   77,000
139917  2022-12-06  208.92  18  145,500
139918  2022-12-29   59.99   7   55,000

[139919 rows x 4 columns]

In [15]:
price['거래일':'거래금액']

TypeError: cannot do slice indexing on RangeIndex with these indexers [거래일] of type str

In [16]:
price.loc[:, '거래일':'거래금액']

               거래일    전용면적   층     거래금액
0       2020-01-03  111.97   6  100,000
1       2020-01-02  163.33   2  162,000
2       2020-01-06  109.91  11   88,000
3       2020-01-09  194.43   4  130,000
4       2020-01-20  148.09   8  149,000
...            ...     ...  ..      ...
139914  2022-12-03   59.52   8   53,000
139915  2022-12-06  111.22  10  135,000
139916  2022-12-10   59.64  17   77,000
139917  2022-12-06  208.92  18  145,500
139918  2022-12-29   59.99   7   55,000

[139919 rows x 4 columns]

In [17]:
price.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [18]:
price.dtypes == 'int64'

지역코드     True
아파트     False
시도명     False
시군구     False
법정동     False
지번      False
건축년도    False
거래일     False
전용면적    False
층        True
거래금액    False
dtype: bool

In [19]:
price.loc[:, price.dtypes == 'int64']

         지역코드   층
0       11110   6
1       11110   2
2       11110  11
3       11110   4
4       11110   8
...       ...  ..
139914  11740   8
139915  11740  10
139916  11740  17
139917  11740  18
139918  11740   7

[139919 rows x 2 columns]

In [20]:
price.loc[:, price.dtypes == 'float64']

          건축년도    전용면적
0       2007.0  111.97
1       2008.0  163.33
2       1994.0  109.91
3       2004.0  194.43
4       2003.0  148.09
...        ...     ...
139914  1998.0   59.52
139915  2008.0  111.22
139916  2000.0   59.64
139917  1996.0  208.92
139918  2020.0   59.99

[139919 rows x 2 columns]

In [23]:
locs = (price.dtypes == 'int64') | (price.dtypes == 'float64')

In [24]:
price.loc[:, locs]

         지역코드    건축년도    전용면적   층
0       11110  2007.0  111.97   6
1       11110  2008.0  163.33   2
2       11110  1994.0  109.91  11
3       11110  2004.0  194.43   4
4       11110  2003.0  148.09   8
...       ...     ...     ...  ..
139914  11740  1998.0   59.52   8
139915  11740  2008.0  111.22  10
139916  11740  2000.0   59.64  17
139917  11740  1996.0  208.92  18
139918  11740  2020.0   59.99   7

[139919 rows x 4 columns]

In [29]:
price.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [30]:
locs = price.dtypes.astype(str).isin(values = ['int64', 'float64'])

In [31]:
price.loc[:, locs]

         지역코드    건축년도    전용면적   층
0       11110  2007.0  111.97   6
1       11110  2008.0  163.33   2
2       11110  1994.0  109.91  11
3       11110  2004.0  194.43   4
4       11110  2003.0  148.09   8
...       ...     ...     ...  ..
139914  11740  1998.0   59.52   8
139915  11740  2008.0  111.22  10
139916  11740  2000.0   59.64  17
139917  11740  1996.0  208.92  18
139918  11740  2020.0   59.99   7

[139919 rows x 4 columns]

In [32]:
price.columns

Index(['지역코드', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층',
       '거래금액'],
      dtype='object')

In [33]:
price.columns.str.contains('거래')

array([False, False, False, False, False, False, False,  True, False,
       False,  True])

In [36]:
price.loc[:, price.columns.str.contains('시|거래')]

          시도명  시군구         거래일     거래금액
0       서울특별시  종로구  2020-01-03  100,000
1       서울특별시  종로구  2020-01-02  162,000
2       서울특별시  종로구  2020-01-06   88,000
3       서울특별시  종로구  2020-01-09  130,000
4       서울특별시  종로구  2020-01-20  149,000
...       ...  ...         ...      ...
139914  서울특별시  강동구  2022-12-03   53,000
139915  서울특별시  강동구  2022-12-06  135,000
139916  서울특별시  강동구  2022-12-10   77,000
139917  서울특별시  강동구  2022-12-06  145,500
139918  서울특별시  강동구  2022-12-29   55,000

[139919 rows x 4 columns]

In [37]:
imsi = price.copy()

In [38]:
imsi.insert(loc = 11, column = '주거래은행', value = np.nan)

In [39]:
imsi.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액,주거래은행
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000",NaN
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000",NaN
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000",NaN
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000",NaN
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000",NaN

In [43]:
imsi = imsi.rename(columns = {'주거래은행': '주거래'})

In [44]:
imsi.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액,주거래
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000",NaN
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000",NaN
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000",NaN
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000",NaN
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000",NaN

In [48]:
cols = []
for col in imsi.columns:
    if '거래' in col:
        cols.append(col)

In [49]:
cols

['거래일', '거래금액', '주거래']

In [50]:
imsi[cols]

               거래일     거래금액  주거래
0       2020-01-03  100,000  NaN
1       2020-01-02  162,000  NaN
2       2020-01-06   88,000  NaN
3       2020-01-09  130,000  NaN
4       2020-01-20  149,000  NaN
...            ...      ...  ...
139914  2022-12-03   53,000  NaN
139915  2022-12-06  135,000  NaN
139916  2022-12-10   77,000  NaN
139917  2022-12-06  145,500  NaN
139918  2022-12-29   55,000  NaN

[139919 rows x 3 columns]

In [45]:
imsi.loc[:, imsi.columns.str.contains('거래')]

        주거래
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
139914  NaN
139915  NaN
139916  NaN
139917  NaN
139918  NaN

[139919 rows x 1 columns]

In [55]:
cols = ['총거래금액', '현재총계약금액', '잔존금액', '잔존총금액', '총계약금액2020']
imsi = pd.DataFrame(columns = cols)
imsi.head()

Empty DataFrame
Columns: [총거래금액, 현재총계약금액, 잔존금액, 잔존총금액, 총계약금액2020]
Index: []

In [56]:
imsi.loc[:, imsi.columns.str.contains('총금액')]

Empty DataFrame
Columns: [잔존총금액]
Index: []

In [57]:
imsi.loc[:, imsi.columns.str.contains('총.+금액')]

Empty DataFrame
Columns: [총거래금액, 현재총계약금액, 총계약금액2020]
Index: []

In [59]:
imsi.loc[:, imsi.columns.str.contains('^총.+금액')]

Empty DataFrame
Columns: [총거래금액, 총계약금액2020]
Index: []

In [60]:
imsi.loc[:, imsi.columns.str.contains('총.+금액$')]

Empty DataFrame
Columns: [총거래금액, 현재총계약금액]
Index: []

In [61]:
price.drop(columns = ['지역코드'])

,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,"53,000"
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,"135,000"
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,"77,000"
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,"145,500"
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,"55,000"

In [62]:
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [63]:
price = price.drop(columns = ['지역코드'])

In [64]:
price.head()

,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [65]:
price.rename(columns = {'시도명': '시', '시군구': '구', '법정동': '동'})

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,"53,000"
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,"135,000"
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,"77,000"
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,"145,500"
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,"55,000"

In [66]:
price.columns

Index(['아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층', '거래금액'], dtype='object')

In [67]:
price.columns = ['아파트', '시', '구', '동', '지번', '건축년도', 
                 '거래일', '전용면적', '층', '거래금액']

In [68]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [69]:
price['거래금액'].astype(float)

ValueError: could not convert string to float: '100,000'

In [72]:
price['거래금액'] = price['거래금액'].str.replace(',', '').astype(float)

In [73]:
price.dtypes

아파트      object
시        object
구        object
동        object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액    float64
dtype: object

price['거래일'] = price['거래일'].astype('datetime64[ns]')
price['층'] = price['층'].astype(float)

In [76]:
price = price.astype({'거래일': 'datetime64[ns]', '층': float})

In [77]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도           float64
거래일     datetime64[ns]
전용면적           float64
층              float64
거래금액           float64
dtype: object

price = price.astype({'층': int, '거래금액': int})

In [79]:
cols = ['층', '거래금액']
price[cols]

           층      거래금액
0        6.0  100000.0
1        2.0  162000.0
2       11.0   88000.0
3        4.0  130000.0
4        8.0  149000.0
...      ...       ...
139914   8.0   53000.0
139915  10.0  135000.0
139916  17.0   77000.0
139917  18.0  145500.0
139918   7.0   55000.0

[139919 rows x 2 columns]

In [83]:
price[cols] = price[cols].astype(int)

In [84]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도           float64
거래일     datetime64[ns]
전용면적           float64
층                int32
거래금액             int32
dtype: object

In [89]:
birth = pd.Series(['2000년 1월 1일', '99년 12월 31일'])
birth

0    2000년 1월 1일
1    99년 12월 31일
dtype: object

In [90]:
birth.astype('datetime64[ns]')

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "pandas\_libs\tslib.pyx", line 605, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslibs\parsing.pyx", line 318, in pandas._libs.tslibs.parsing.parse_datetime_string
  File "C:\Users\hdsce\ve311\Lib\site-packages\dateutil\parser\_parser.py", line 1368, in parse
    return DEFAULTPARSER.parse(timestr, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\dateutil\parser\_parser.py", line 643, in parse
    raise ParserError("Unknown string format: %s", timestr)
dateutil.parser._parser.ParserError: Unknown string format: 2000년 1월 1일

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "pandas\_libs\tslib.pyx", line 616, in pandas._libs.tslib.array_to_datetime
TypeError: invalid string coercion to datetime for "2000년 1월 1일" at position 0

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\hdsce\ve311\Lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\hdsce\AppData\Local\Temp\ipykernel_12080\187672406.py", line 1, in <module>
    birth.astype('datetime64[ns]')
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\generic.py", line 6240, in astype
    new_data = self._mgr.astype(dtype=dtype, copy=copy, errors=errors)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\internals\managers.py", line 448, in astype
    return self.apply("astype", dtype=dtype, copy=copy, errors=errors)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\internals\managers.py", line 352, in apply
    applied = getattr(b, f)(**kwargs)
              ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\internals\blocks.py", line 526, in astype
    new_values = astype_array_safe(values, dtype, copy=copy, errors=errors)
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\dtypes\astype.py", line 299, in astype_array_safe
    new_values = astype_array(values, dtype, copy=copy)
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\dtypes\astype.py", line 230, in astype_array
    values = astype_nansafe(values, dtype, copy=copy)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\dtypes\astype.py", line 151, in astype_nansafe
    to_datetime(arr.ravel()).values.reshape(arr.shape),
    ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\tools\datetimes.py", line 1100, in to_datetime
    result = convert_listlike(argc, format)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\tools\datetimes.py", line 438, in _convert_listlike_datetimes
    result, tz_parsed = objects_to_datetime64ns(
                        ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\pandas\core\arrays\datetimes.py", line 2177, in objects_to_datetime64ns
    result, tz_parsed = tslib.array_to_datetime(
                        ^^^^^^^^^^^^^^^^^^^^^^^^
  File "pandas\_libs\tslib.pyx", line 427, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslib.pyx", line 683, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslib.pyx", line 829, in pandas._libs.tslib._array_to_datetime_object
  File "pandas\_libs\tslib.pyx", line 819, in pandas._libs.tslib._array_to_datetime_object
  File "pandas\_libs\tslibs\parsing.pyx", line 318, in pandas._libs.tslibs.parsing.parse_datetime_string
  File "C:\Users\hdsce\ve311\Lib\site-packages\dateutil\parser\_parser.py", line 1368, in parse
    return DEFAULTPARSER.parse(timestr, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\dateutil\parser\_parser.py", line 643, in parse
    raise ParserError("Unknown string format: %s", timestr)
dateutil.parser._parser.ParserError: Unknown string format: 2000년 1월 1일 present at position 0

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\hdsce\ve311\Lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\IPython\core\ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\IPython\core\ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\IPython\core\ultratb.py", line 1049, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\IPython\core\ultratb.py", line 935, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\ve311\Lib\site-packages\IPython\core\ultratb.py", line 1003, in get_records
    lines, first = inspect.getsourcelines(etb.tb_frame)
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\AppData\Local\Programs\Python\Python311\Lib\inspect.py", line 1252, in getsourcelines
    lines, lnum = findsource(object)
                  ^^^^^^^^^^^^^^^^^^
  File "C:\Users\hdsce\AppData\Local\Programs\Python\Python311\Lib\inspect.py", line 1081, in findsource
    raise OSError('could not get source code')
OSError: could not get source code

In [93]:
birth = birth.str.replace('^20', '')

C:\Users\hdsce\AppData\Local\Temp\ipykernel_12080\1670785435.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  birth = birth.str.replace('^20', '')

In [94]:
birth

0      00년 1월 1일
1    99년 12월 31일
dtype: object

In [95]:
birth = pd.to_datetime(birth, format = '%y년 %m월 %d일')
birth

0   2000-01-01
1   1999-12-31
dtype: datetime64[ns]

In [97]:
birth.iloc[0].timestamp()

946684800.0

In [98]:
today = pd.Timestamp.today()
today

Timestamp('2023-04-05 14:44:39.059987')

In [100]:
dtGap = today - birth.iloc[0]

In [103]:
dtGap.days * 3 * 7000

178395000

In [104]:
price['거래일'].dt.year

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
139914    2022
139915    2022
139916    2022
139917    2022
139918    2022
Name: 거래일, Length: 139919, dtype: int64

In [105]:
price['거래일'].dt.month

0          1
1          1
2          1
3          1
4          1
          ..
139914    12
139915    12
139916    12
139917    12
139918    12
Name: 거래일, Length: 139919, dtype: int64

In [106]:
price['거래일'].dt.day

0          3
1          2
2          6
3          9
4         20
          ..
139914     3
139915     6
139916    10
139917     6
139918    29
Name: 거래일, Length: 139919, dtype: int64

In [107]:
price['거래일'].dt.day_name()

0           Friday
1         Thursday
2           Monday
3         Thursday
4           Monday
            ...
139914    Saturday
139915     Tuesday
139916    Saturday
139917     Tuesday
139918    Thursday
Name: 거래일, Length: 139919, dtype: object

In [108]:
price['거래일'].dt.day_name(locale = 'ko_KR')

0         금요일
1         목요일
2         월요일
3         목요일
4         월요일
         ...
139914    토요일
139915    화요일
139916    토요일
139917    화요일
139918    목요일
Name: 거래일, Length: 139919, dtype: object

In [114]:
price['거래일'].dt.strftime('%Y년 %m월 %d일 %a')

0         2020년 01월 03일 Fri
1         2020년 01월 02일 Thu
2         2020년 01월 06일 Mon
3         2020년 01월 09일 Thu
4         2020년 01월 20일 Mon
                ...
139914    2022년 12월 03일 Sat
139915    2022년 12월 06일 Tue
139916    2022년 12월 10일 Sat
139917    2022년 12월 06일 Tue
139918    2022년 12월 29일 Thu
Name: 거래일, Length: 139919, dtype: object

In [115]:
df1 = price.loc[price['거래금액'] >= 1200000]
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [116]:
df2 = price.loc[(price['거래금액'] < 1200000) & (price['층'] >= 65)]
df2

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
50867,현대하이페리온,서울특별시,양천구,목동,916,2003.0,2020-07-03,154.050,66,240000
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-07-25,235.740,67,542500
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-10-27,185.622,66,380000
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-06-24,214.967,66,458000

In [118]:
price['층'].gt(65).sum()

4

In [119]:
price['층'].ge(65).sum()

4

In [120]:
price['층'].lt(65).sum()

139915

In [121]:
price['층'].le(65).sum()

139915

In [122]:
price['층'].eq(65).sum()

0

In [123]:
price['층'].ne(65).sum()

139919

In [124]:
price['거래금액'].lt(1200000) & price['층'].ge(65)

0         False
1         False
2         False
3         False
4         False
          ...
139914    False
139915    False
139916    False
139917    False
139918    False
Length: 139919, dtype: bool

In [125]:
# 구가 '강남구'인 행을 선택해보세요. (6723)
price[price['구'].eq('강남구')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5819,현대하이츠,서울특별시,강남구,역삼동,775-15,2004.0,2020-01-03,99.220,4,77000
5820,우림루미아트1,서울특별시,강남구,역삼동,706-11,2003.0,2020-01-03,24.000,8,20200
5821,한스빌(836),서울특별시,강남구,역삼동,836,1996.0,2020-01-04,41.950,11,39500
5822,동부센트레빌,서울특별시,강남구,역삼동,716,1998.0,2020-01-06,59.820,21,148800
5823,강남서해더블루,서울특별시,강남구,역삼동,796-29,2012.0,2020-01-06,62.260,10,85000
...,...,...,...,...,...,...,...,...,...,...
139839,목련타운,서울특별시,강남구,일원동,716,1993.0,2022-12-09,134.710,14,210000
139840,목련타운,서울특별시,강남구,일원동,716,1993.0,2022-12-12,134.710,6,227000
139841,신동아,서울특별시,강남구,수서동,736,1992.0,2022-12-10,39.510,13,95000
139842,대림아크로빌,서울특별시,강남구,도곡동,467-6,1999.0,2022-12-09,177.255,22,260000
139843,대림아크로빌,서울특별시,강남구,도곡동,467-6,1999.0,2022-12-15,172.467,31,260000

In [126]:
# 구가 '강남구' 또는 '서초구'인 행을 선택해보세요. (12917)
price[price['구'].eq('강남구') | price['구'].eq('서초구')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5696,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-03,81.3900,5,127500
5697,롯데캐슬아르떼,서울특별시,서초구,방배동,424-28,2013.0,2020-01-03,121.6356,12,209000
5698,신한엔시모,서울특별시,서초구,방배동,802-4,2005.0,2020-01-03,244.2000,3,197500
5699,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-07,116.1300,12,160000
5700,방배브라운가,서울특별시,서초구,방배동,930-1,2006.0,2020-01-08,84.9400,10,131000
...,...,...,...,...,...,...,...,...,...,...
139839,목련타운,서울특별시,강남구,일원동,716,1993.0,2022-12-09,134.7100,14,210000
139840,목련타운,서울특별시,강남구,일원동,716,1993.0,2022-12-12,134.7100,6,227000
139841,신동아,서울특별시,강남구,수서동,736,1992.0,2022-12-10,39.5100,13,95000
139842,대림아크로빌,서울특별시,강남구,도곡동,467-6,1999.0,2022-12-09,177.2550,22,260000
139843,대림아크로빌,서울특별시,강남구,도곡동,467-6,1999.0,2022-12-15,172.4670,31,260000

In [127]:
# 구가 '강남구', '서초구' 또는 '송파구'인 행을 선택해보세요. (20349)
price[price['구'].eq('강남구') | price['구'].eq('서초구') | price['구'].eq('송파구')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5696,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-03,81.3900,5,127500
5697,롯데캐슬아르떼,서울특별시,서초구,방배동,424-28,2013.0,2020-01-03,121.6356,12,209000
5698,신한엔시모,서울특별시,서초구,방배동,802-4,2005.0,2020-01-03,244.2000,3,197500
5699,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-07,116.1300,12,160000
5700,방배브라운가,서울특별시,서초구,방배동,930-1,2006.0,2020-01-08,84.9400,10,131000
...,...,...,...,...,...,...,...,...,...,...
139884,송파파인타운2단지,서울특별시,송파구,장지동,835,2008.0,2022-12-03,84.9500,15,110000
139885,송파더센트레,서울특별시,송파구,장지동,879,2013.0,2022-12-04,51.8200,13,75000
139886,대림,서울특별시,송파구,방이동,217,1985.0,2022-12-19,125.0750,12,160000
139887,상아2차아파트,서울특별시,송파구,오금동,165,1988.0,2022-12-01,45.7700,6,92000
139888,아남,서울특별시,송파구,오금동,67,1992.0,2022-12-01,84.9300,14,149123

In [132]:
price[price['구'].isin(values = ['강남구', '서초구', '송파구'])].shape[0]

20349

In [133]:
price[price['구'].str.contains('강남|서초|송파')].shape[0]

20349

In [134]:
price[price['구'].isin(values = ['강남구', '강동구', '강서구', '강북구'])].shape[0]

26225

In [136]:
price[price['구'].str.contains('강(남|동|서|북)')].shape[0]

C:\Users\hdsce\AppData\Local\Temp\ipykernel_12080\1839988910.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  price[price['구'].str.contains('강(남|동|서|북)')].shape[0]

26225

In [137]:
price[price['구'].str.contains('강[남동서북]')].shape[0]

26225

In [138]:
price[price['구'].str.contains('^강')].shape[0]

26225

In [139]:
len(price[price['구'].str.contains('^강')])

26225

In [140]:
addr = pd.Series(data = ['서울특별시 강남구', '경기도 성남시 분당구'])

In [141]:
addr.str.replace(' ', '')

0     서울특별시강남구
1    경기도성남시분당구
dtype: object

In [143]:
addr.str.split(' ', expand = True)

       0    1     2
0  서울특별시  강남구  None
1    경기도  성남시   분당구

In [147]:
birth.astype(str).str.split('-', expand = True)

      0   1   2
0  2000  01  01
1  1999  12  31

In [149]:
addr

0      서울특별시 강남구
1    경기도 성남시 분당구
dtype: object

In [148]:
addr.str.find('시')

0    4
1    6
dtype: int64

In [150]:
addr.str.slice(0, 2)

0    서울
1    경기
dtype: object

In [151]:
addr.str.extract('(.+시)')

         0
0    서울특별시
1  경기도 성남시

In [162]:
addr

0      서울특별시 강남구
1    경기도 성남시 분당구
dtype: object

In [164]:
addr.str.extract('([가-힣]+구)')

     0
0  강남구
1  분당구

In [158]:
prods = pd.Series(data = ['55A', '66B', 'OLED77C88'])

In [161]:
prods.str.extract('([0-9]+$)')

     0
0  NaN
1  NaN
2   88

In [167]:
prods.str.extract('(OLED\\d+)')

        0
0     NaN
1     NaN
2  OLED77

In [160]:
prods.str.extract('((?<=OLED)\\d+)')

     0
0  NaN
1  NaN
2   77

In [168]:
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [169]:
df1.drop(index = [126596, 131285])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [170]:
df1.index

Int64Index([126596, 131285, 132781, 137420], dtype='int64')

In [171]:
df1.drop(index = df1.index[0:2])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [172]:
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [173]:
df1.reset_index()

,index,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [174]:
df1.reset_index(drop = True)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [194]:
df1 = df1.set_index(keys = ['아파트', '시', '동'])
df1

                         구       지번    건축년도        거래일     전용면적   층     거래금액
아파트       시     동
파르크한남     서울특별시 한남동    용산구      410  2020.0 2021-12-13  268.950   2  1200000
                한남동    용산구      410  2020.0 2022-04-30  268.670   5  1350000
PH129     서울특별시 청담동    강남구      129  2020.0 2022-04-28  273.960  16  1450000
아크로서울포레스트 서울특별시 성수동1가  성동구  685-700  2020.0 2022-09-30  264.546  47  1300000

In [195]:
df1.index

MultiIndex([(    '파르크한남', '서울특별시',   '한남동'),
            (    '파르크한남', '서울특별시',   '한남동'),
            (    'PH129', '서울특별시',   '청담동'),
            ('아크로서울포레스트', '서울특별시', '성수동1가')],
           names=['아파트', '시', '동'])

In [198]:
df1.to_excel('test.xlsx')

In [199]:
df3 = pd.read_excel('test.xlsx')

In [200]:
df3

,아파트,시,동,구,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,한남동,용산구,410,2020,2021-12-13,268.950,2,1200000
1,NaN,NaN,한남동,용산구,410,2020,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,청담동,강남구,129,2020,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성수동1가,성동구,685-700,2020,2022-09-30,264.546,47,1300000

In [202]:
df3.fillna(method = 'bfill')

,아파트,시,동,구,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,한남동,용산구,410,2020,2021-12-13,268.950,2,1200000
1,PH129,서울특별시,한남동,용산구,410,2020,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,청담동,강남구,129,2020,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성수동1가,성동구,685-700,2020,2022-09-30,264.546,47,1300000

In [181]:
df1 = df1.reset_index()

In [185]:
df1.index.name = '인덱스'

In [186]:
df1

,아파트,시,동,구,지번,건축년도,거래일,전용면적,층,거래금액
인덱스,,,,,,,,,,
0,파르크한남,서울특별시,한남동,용산구,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,한남동,용산구,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,청담동,강남구,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성수동1가,성동구,685-700,2020.0,2022-09-30,264.546,47,1300000

In [187]:
df1.reset_index()

,인덱스,아파트,시,동,구,지번,건축년도,거래일,전용면적,층,거래금액
0,0,파르크한남,서울특별시,한남동,용산구,410,2020.0,2021-12-13,268.950,2,1200000
1,1,파르크한남,서울특별시,한남동,용산구,410,2020.0,2022-04-30,268.670,5,1350000
2,2,PH129,서울특별시,청담동,강남구,129,2020.0,2022-04-28,273.960,16,1450000
3,3,아크로서울포레스트,서울특별시,성수동1가,성동구,685-700,2020.0,2022-09-30,264.546,47,1300000

In [188]:
df1.index.name = None

In [189]:
df1

,아파트,시,동,구,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,한남동,용산구,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,한남동,용산구,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,청담동,강남구,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성수동1가,성동구,685-700,2020.0,2022-09-30,264.546,47,1300000

In [193]:
df1.reset_index().reset_index()

,level_0,index,아파트,시,동,구,지번,건축년도,거래일,전용면적,층,거래금액
0,0,0,파르크한남,서울특별시,한남동,용산구,410,2020.0,2021-12-13,268.950,2,1200000
1,1,1,파르크한남,서울특별시,한남동,용산구,410,2020.0,2022-04-30,268.670,5,1350000
2,2,2,PH129,서울특별시,청담동,강남구,129,2020.0,2022-04-28,273.960,16,1450000
3,3,3,아크로서울포레스트,서울특별시,성수동1가,성동구,685-700,2020.0,2022-09-30,264.546,47,1300000

In [203]:
df1

                         구       지번    건축년도        거래일     전용면적   층     거래금액
아파트       시     동
파르크한남     서울특별시 한남동    용산구      410  2020.0 2021-12-13  268.950   2  1200000
                한남동    용산구      410  2020.0 2022-04-30  268.670   5  1350000
PH129     서울특별시 청담동    강남구      129  2020.0 2022-04-28  273.960  16  1450000
아크로서울포레스트 서울특별시 성수동1가  성동구  685-700  2020.0 2022-09-30  264.546  47  1300000

In [204]:
df1 = df1.reset_index()

In [205]:
df1

,아파트,시,동,구,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,한남동,용산구,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,한남동,용산구,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,청담동,강남구,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성수동1가,성동구,685-700,2020.0,2022-09-30,264.546,47,1300000

In [ ]:
price.isnull()

In [208]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   아파트     139919 non-null  object
 1   시       139919 non-null  object
 2   구       139919 non-null  object
 3   동       139919 non-null  object
 4   지번      139879 non-null  object
 5   건축년도    139917 non-null  float64
 6   거래일     139919 non-null  datetime64[ns]
 7   전용면적    139919 non-null  float64
 8   층       139919 non-null  int32
 9   거래금액    139919 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(2), object(5)
memory usage: 9.6+ MB

In [207]:
price.isna().sum()

아파트      0
시        0
구        0
동        0
지번      40
건축년도     2
거래일      0
전용면적     0
층        0
거래금액     0
dtype: int64

In [209]:
price[price['지번'].isna()]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5817,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-01-20,84.99,3,141000
5818,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-01-23,84.95,1,132000
13920,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-02-08,59.21,13,105000
13925,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-02-22,114.90,1,147300
19081,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-03-07,84.48,20,126500
42068,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-06-13,84.48,14,130000
42079,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-06-30,84.87,14,130000
54592,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-05,84.48,14,134000
54593,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-05,84.48,14,134000
54595,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-06,84.87,15,133000
54603,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-11,84.48,5,130000
54605,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-12,59.21,11,115000
54621,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-09,84.95,4,145000
54625,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-18,84.95,8,148000
54628,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-27,101.90,3,163000
60635,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-08-06,59.09,14,124000
60646,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-08-26,114.90,5,194000
60647,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-08-29,114.90,9,193000
69376,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-10-06,84.95,1,155000
75432,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-11-06,59.09,5,125000
75437,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-11-18,84.95,9,159000
82968,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-12-05,84.87,17,155000
82972,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-12-03,84.95,6,158000
89342,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-01-12,84.48,8,160000
97584,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-03-02,84.48,11,159000
97585,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-03-11,84.95,2,163000
101262,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-06,84.48,21,154500
101263,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-10,59.21,2,135000
101264,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-20,84.87,14,155000
101270,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-04-15,101.90,4,187500
101272,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-04-27,101.90,3,184500
106151,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-05-16,59.21,8,131000
106152,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-05-18,84.87,1,151000
106156,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-05-26,84.95,4,165000
115150,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-07-26,84.99,7,182000
124735,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-10-13,84.87,10,178000
126288,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-11-11,84.41,9,160000
129553,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2022-02-05,84.87,10,175000
135816,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2022-06-23,101.90,5,204000
137927,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2022-09-28,84.95,8,173000

In [211]:
price.loc[price['아파트'].eq('서초포레스타2단지'), '지번'] = '384'

In [213]:
price.loc[price['아파트'].eq('힐스테이트 서초 젠트리스'), '지번'] = '557'

In [214]:
price.isna().sum()

아파트     0
시       0
구       0
동       0
지번      0
건축년도    2
거래일     0
전용면적    0
층       0
거래금액    0
dtype: int64

In [215]:
price[price['건축년도'].isna()]

              아파트      시    구    동  지번  건축년도        거래일   전용면적  층    거래금액
128072  DMCSKVIEW  서울특별시  은평구  수색동  30   NaN 2022-01-28  84.99  7  140000
129140  DMCSKVIEW  서울특별시  은평구  수색동  30   NaN 2022-02-10  84.99  6  137000

In [218]:
price[price['건축년도'].isna()].fillna(value = 9999)

              아파트      시    구    동  지번    건축년도        거래일   전용면적  층    거래금액
128072  DMCSKVIEW  서울특별시  은평구  수색동  30  9999.0 2022-01-28  84.99  7  140000
129140  DMCSKVIEW  서울특별시  은평구  수색동  30  9999.0 2022-02-10  84.99  6  137000

In [219]:
price.dropna()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [221]:
price[~price['건축년도'].isna()]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [223]:
price = price[price['건축년도'].notna()]

In [224]:
price['건축년도'] = price['건축년도'].astype(int)

C:\Users\hdsce\AppData\Local\Temp\ipykernel_12080\1760775511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['건축년도'] = price['건축년도'].astype(int)

In [225]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도             int32
거래일     datetime64[ns]
전용면적           float64
층                int32
거래금액             int32
dtype: object

In [226]:
price.to_csv('APT_Prep.csv', index = False)