In [ ]:
'아버지가 방에 들어가신다'

In [ ]:
'I am a boy.'

In [ ]:
'I'm a boy.'

In [ ]:
'I\'m a boy.'

In [ ]:
'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1'

In [ ]:
'C:/Users/hdsce/Documents/PythonDataAnalysis1'

In [ ]:
# raw-string
r'C:\Users\hdsce\Documents\PythonDataAnalysis1'

In [ ]:
import os
import chardet
import numpy as np
import pandas as pd
import joblib

In [ ]:
os.getcwd()

In [ ]:
# 절대 경로 방식
os.chdir('C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\data')

In [ ]:
os.getcwd()

In [ ]:
# 상대 경로 방식
os.chdir('..')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('./live')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('../data')

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
for file in os.listdir():
    if 'xlsx' in file:
        print(file)

In [ ]:
# 위 코드를 리스트 컴프리헨션으로 바꿔보세요.
[file for file in os.listdir() if '2022' in file]

In [51]:
pd.read_excel('APT_Price_Seoul_2020_2022.xlsx')

,Unnamed: 0,데이터셋 소개,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,- 2022년 1월 1일부터 12월 31일까지 서울특별시에서 매매된 아파트 가격 데...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
3,NaN,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004,2022-01-14,150.48,3,"200,000"
4,NaN,11110,아르젠종로,서울특별시,종로구,연지동,163-3,2015,2022-01-11,18.02,10,"20,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
12203,NaN,11740,중앙하이츠,서울특별시,강동구,암사동,493-14,1998,2022-12-03,59.52,8,"53,000"
12204,NaN,11740,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008,2022-12-06,111.22,10,"135,000"
12205,NaN,11740,선사현대아파트,서울특별시,강동구,암사동,509,2000,2022-12-10,59.64,17,"77,000"
12206,NaN,11740,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996,2022-12-06,208.92,18,"145,500"
12207,NaN,11740,강동리버스트4단지,서울특별시,강동구,강일동,114,2020,2022-12-29,59.99,7,"55,000"

In [57]:
df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx',
              sheet_name = '2022년', 
              usecols = range(1, 12), 
              skiprows = 3, 
              thousands = ',')

In [59]:
df1.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,경희궁의아침3단지,서울특별시,종로구,내수동,72,2004.0,2022-01-14,150.48,3,200000
1,11110,아르젠종로,서울특별시,종로구,연지동,163-3,2015.0,2022-01-11,18.02,10,20000
2,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014.0,2022-01-03,16.98,7,19500
3,11110,이화에수풀,서울특별시,종로구,연건동,195-10,2014.0,2022-01-08,16.98,11,19000
4,11110,CS타워,서울특별시,종로구,충신동,62-2,2011.0,2022-01-11,22.17,12,13500

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12205 entries, 0 to 12204
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역코드    12205 non-null  int64
 1   아파트     12205 non-null  object
 2   시도명     12205 non-null  object
 3   시군구     12205 non-null  object
 4   법정동     12205 non-null  object
 5   지번      12202 non-null  object
 6   건축년도    12203 non-null  float64
 7   거래일     12205 non-null  object
 8   전용면적    12205 non-null  float64
 9   층       12205 non-null  int64
 10  거래금액    12205 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 1.0+ MB

In [ ]:
os.listdir()

In [ ]:
%time df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', \
                          sheet_name = '2020~2022년')

In [ ]:
df1.info()

In [ ]:
df1.head()

In [ ]:
%time df1.to_excel('test.xlsx', index = False)

In [ ]:
df1.sample(random_state = 0)

In [ ]:
df1.sample(random_state = 0)

In [ ]:
os.listdir()

In [ ]:
fileName = 'APT_Price_Seoul_2020_2022.csv'

In [ ]:
df2 = pd.read_csv(fileName)

In [ ]:
text = open(fileName, mode = 'rb').read()
text[:1000]

In [ ]:
len(text)

In [ ]:
chardet.detect(text)

In [ ]:
chardet.detect(text[:1000])

In [ ]:
type(text)

In [ ]:
text.decode(encoding = 'CP949')[:100]

In [ ]:
sen = '아버지가 방에 들어가신다.'

In [ ]:
type(sen)

In [ ]:
by1 = sen.encode(encoding = 'UTF-8')
by1

In [ ]:
type(by1)

In [ ]:
chardet.detect(by1)

In [ ]:
by1.decode(encoding = 'UTF-8')

In [ ]:
%time df2 = pd.read_csv(fileName, encoding = 'CP949')

In [ ]:
df2.info()

In [ ]:
df2.head()

In [ ]:
df2 = pd.read_csv(fileName, 
                  encoding = 'CP949', 
                  sep = ',', 
                  parse_dates = ['거래일'], 
                  thousands = ',')

In [ ]:
df2.dtypes

In [ ]:
%time df2.to_csv('test.csv', index = False)

In [ ]:
os.listdir()

In [ ]:
%time joblib.dump(value = df2, filename = 'APT_Price_Seoul_2020_2022.z')

In [ ]:
%time df3 = joblib.load(filename = 'APT_Price_Seoul_2020_2022.z')

In [ ]:
df3.dtypes

In [ ]:
joblib.dump(value = [df1, df2], filename = 'test.z')

In [ ]:
df1_1, df2_1 = joblib.load(filename = 'test.z')

In [ ]:
os.listdir()

In [ ]:
os.remove('test.z')

In [ ]:
files = [file for file in os.listdir() if 'test' in file]

In [ ]:
for file in files:
    os.remove(file)

In [ ]:
os.listdir()

!pip install tqdm

In [ ]:
from tqdm import tqdm

In [ ]:
dfAll = pd.DataFrame()

for i in tqdm(range(3)):
    df = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx',
                       sheet_name = i, 
                       usecols = range(1, 12), 
                       skiprows = 3, 
                       thousands = ',')
    dfAll = pd.concat(objs = [dfAll, df], axis = 0, ignore_index = True)

In [ ]:
dfAll.shape

In [1]:
import os
import joblib
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\live'

In [3]:
os.chdir('../data')

In [4]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_2020_2022.z',
 'NA_Sample.xlsx',
 'online_mall.csv']

In [5]:
price = joblib.load(filename = 'APT_Price_Seoul_2020_2022.z')

In [6]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  datetime64[ns]
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(5)
memory usage: 11.7+ MB

In [7]:
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000

In [8]:
price['지역코드']

0         11110
1         11110
2         11110
3         11110
4         11110
          ...
139914    11740
139915    11740
139916    11740
139917    11740
139918    11740
Name: 지역코드, Length: 139919, dtype: int64

In [9]:
price[['지역코드']]

         지역코드
0       11110
1       11110
2       11110
3       11110
4       11110
...       ...
139914  11740
139915  11740
139916  11740
139917  11740
139918  11740

[139919 rows x 1 columns]

In [11]:
price[['아파트', '지역코드']]

                   아파트   지역코드
0          신동아블루아광화문의꿈  11110
1       광화문스페이스본(106동)  11110
2                세종로대우  11110
3                 킹스매너  11110
4             경희궁파크팰리스  11110
...                ...    ...
139914           중앙하이츠  11740
139915         롯데캐슬퍼스트  11740
139916         선사현대아파트  11740
139917         파크뷰진도맨션  11740
139918       강동리버스트4단지  11740

[139919 rows x 2 columns]

In [13]:
price.loc[:, '거래일':'거래금액']

              거래일    전용면적   층    거래금액
0      2020-01-03  111.97   6  100000
1      2020-01-02  163.33   2  162000
2      2020-01-06  109.91  11   88000
3      2020-01-09  194.43   4  130000
4      2020-01-20  148.09   8  149000
...           ...     ...  ..     ...
139914 2022-12-03   59.52   8   53000
139915 2022-12-06  111.22  10  135000
139916 2022-12-10   59.64  17   77000
139917 2022-12-06  208.92  18  145500
139918 2022-12-29   59.99   7   55000

[139919 rows x 4 columns]

In [14]:
price.dtypes

지역코드             int64
아파트             object
시도명             object
시군구             object
법정동             object
지번              object
건축년도           float64
거래일     datetime64[ns]
전용면적           float64
층                int64
거래금액             int64
dtype: object

In [16]:
price.dtypes == np.int64

지역코드     True
아파트     False
시도명     False
시군구     False
법정동     False
지번      False
건축년도    False
거래일     False
전용면적    False
층        True
거래금액     True
dtype: bool

In [17]:
price.loc[:, price.dtypes == np.int64]

         지역코드   층    거래금액
0       11110   6  100000
1       11110   2  162000
2       11110  11   88000
3       11110   4  130000
4       11110   8  149000
...       ...  ..     ...
139914  11740   8   53000
139915  11740  10  135000
139916  11740  17   77000
139917  11740  18  145500
139918  11740   7   55000

[139919 rows x 3 columns]

In [18]:
price.loc[:, price.dtypes == np.float64]

          건축년도    전용면적
0       2007.0  111.97
1       2008.0  163.33
2       1994.0  109.91
3       2004.0  194.43
4       2003.0  148.09
...        ...     ...
139914  1998.0   59.52
139915  2008.0  111.22
139916  2000.0   59.64
139917  1996.0  208.92
139918  2020.0   59.99

[139919 rows x 2 columns]

In [19]:
price.loc[:, price.dtypes == object]

                   아파트    시도명  시군구  법정동      지번
0          신동아블루아광화문의꿈  서울특별시  종로구  필운동     254
1       광화문스페이스본(106동)  서울특별시  종로구  사직동     9-1
2                세종로대우  서울특별시  종로구  내수동     167
3                 킹스매너  서울특별시  종로구  내수동  110-15
4             경희궁파크팰리스  서울특별시  종로구  내수동      95
...                ...    ...  ...  ...     ...
139914           중앙하이츠  서울특별시  강동구  암사동  493-14
139915         롯데캐슬퍼스트  서울특별시  강동구  암사동   414-2
139916         선사현대아파트  서울특별시  강동구  암사동     509
139917         파크뷰진도맨션  서울특별시  강동구  성내동   452-2
139918       강동리버스트4단지  서울특별시  강동구  강일동     114

[139919 rows x 5 columns]

In [20]:
price.columns

Index(['지역코드', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층',
       '거래금액'],
      dtype='object')

In [21]:
price.columns.str.contains('거래')

array([False, False, False, False, False, False, False,  True, False,
       False,  True])

In [23]:
price.columns.str.contains('^시')

array([False, False,  True,  True, False, False, False, False, False,
       False, False])

In [22]:
price.loc[:, price.columns.str.contains('거래')]

              거래일    거래금액
0      2020-01-03  100000
1      2020-01-02  162000
2      2020-01-06   88000
3      2020-01-09  130000
4      2020-01-20  149000
...           ...     ...
139914 2022-12-03   53000
139915 2022-12-06  135000
139916 2022-12-10   77000
139917 2022-12-06  145500
139918 2022-12-29   55000

[139919 rows x 2 columns]

In [25]:
price.drop(labels = ['지역코드'], axis = 1)

,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [26]:
price.drop(columns = ['지역코드'])

,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [27]:
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000

In [28]:
price = price.drop(columns = ['지역코드'])

In [29]:
price.head()

,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000

In [30]:
price.rename(columns = {'시도명': '시', '시군구': '구', '법정동': '동'})

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [31]:
price.columns

Index(['아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층', '거래금액'], dtype='object')

In [32]:
price.columns = ['아파트', '시', '구', '동', '지번', 
                 '건축년도', '거래일', '전용면적', '층', '거래금액']

In [33]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000

In [34]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_2020_2022.z',
 'NA_Sample.xlsx',
 'online_mall.csv']

In [35]:
df = pd.read_csv('APT_Price_Seoul_2020_2022.csv', encoding = 'CP949')

In [36]:
df.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [37]:
df.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [39]:
df['거래금액'].astype(float)

ValueError: could not convert string to float: '100,000'

In [42]:
df['거래금액'] = df['거래금액'].str.replace(',', '').astype(float)

In [43]:
price = price.astype({'거래일': np.datetime64, '층': float})

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\2148306430.py:1: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  price = price.astype({'거래일': np.datetime64, '층': float})

In [44]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도           float64
거래일     datetime64[ns]
전용면적           float64
층              float64
거래금액             int64
dtype: object

In [60]:
cols = ['층', '거래금액']
price[cols]

         층    거래금액
0        6  100000
1        2  162000
2       11   88000
3        4  130000
4        8  149000
...     ..     ...
139914   8   53000
139915  10  135000
139916  17   77000
139917  18  145500
139918   7   55000

[139919 rows x 2 columns]

In [61]:
price[cols] = price[cols].astype(int)

In [62]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도           float64
거래일     datetime64[ns]
전용면적           float64
층                int32
거래금액             int32
dtype: object

In [63]:
birth = pd.Series(data = ['2000년 1월 1일'])
birth

0    2000년 1월 1일
dtype: object

In [64]:
birth.astype(np.datetime64)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "pandas\_libs\tslib.pyx", line 605, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslibs\parsing.pyx", line 318, in pandas._libs.tslibs.parsing.parse_datetime_string
  File "C:\Users\hdsce\ve310\lib\site-packages\dateutil\parser\_parser.py", line 1368, in parse
    return DEFAULTPARSER.parse(timestr, **kwargs)
  File "C:\Users\hdsce\ve310\lib\site-packages\dateutil\parser\_parser.py", line 643, in parse
    raise ParserError("Unknown string format: %s", timestr)
dateutil.parser._parser.ParserError: Unknown string format: 2000년 1월 1일

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "pandas\_libs\tslib.pyx", line 616, in pandas._libs.tslib.array_to_datetime
TypeError: invalid string coercion to datetime for "2000년 1월 1일" at position 0

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\hdsce\ve310\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\3129021194.py", line 1, in <module>
    birth.astype(np.datetime64)
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\generic.py", line 6240, in astype
    new_data = self._mgr.astype(dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\internals\managers.py", line 448, in astype
    return self.apply("astype", dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\internals\managers.py", line 352, in apply
    applied = getattr(b, f)(**kwargs)
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\internals\blocks.py", line 526, in astype
    new_values = astype_array_safe(values, dtype, copy=copy, errors=errors)
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\dtypes\astype.py", line 299, in astype_array_safe
    new_values = astype_array(values, dtype, copy=copy)
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\dtypes\astype.py", line 230, in astype_array
    values = astype_nansafe(values, dtype, copy=copy)
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\dtypes\astype.py", line 151, in astype_nansafe
    to_datetime(arr.ravel()).values.reshape(arr.shape),
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\tools\datetimes.py", line 1100, in to_datetime
    result = convert_listlike(argc, format)
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\tools\datetimes.py", line 438, in _convert_listlike_datetimes
    result, tz_parsed = objects_to_datetime64ns(
  File "C:\Users\hdsce\ve310\lib\site-packages\pandas\core\arrays\datetimes.py", line 2177, in objects_to_datetime64ns
    result, tz_parsed = tslib.array_to_datetime(
  File "pandas\_libs\tslib.pyx", line 427, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslib.pyx", line 683, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslib.pyx", line 829, in pandas._libs.tslib._array_to_datetime_object
  File "pandas\_libs\tslib.pyx", line 819, in pandas._libs.tslib._array_to_datetime_object
  File "pandas\_libs\tslibs\parsing.pyx", line 318, in pandas._libs.tslibs.parsing.parse_datetime_string
  File "C:\Users\hdsce\ve310\lib\site-packages\dateutil\parser\_parser.py", line 1368, in parse
    return DEFAULTPARSER.parse(timestr, **kwargs)
  File "C:\Users\hdsce\ve310\lib\site-packages\dateutil\parser\_parser.py", line 643, in parse
    raise ParserError("Unknown string format: %s", timestr)
dateutil.parser._parser.ParserError: Unknown string format: 2000년 1월 1일 present at position 0

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\hdsce\ve310\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\hdsce\ve310\lib\site-packages\IPython\core\ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\hdsce\ve310\lib\site-packages\IPython\core\ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\hdsce\ve310\lib\site-packages\IPython\core\ultratb.py", line 1049, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "C:\Users\hdsce\ve310\lib\site-packages\IPython\core\ultratb.py", line 935, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "C:\Users\hdsce\ve310\lib\site-packages\IPython\core\ultratb.py", line 1003, in get_records
    lines, first = inspect.getsourcelines(etb.tb_frame)
  File "C:\Users\hdsce\AppData\Local\Programs\Python\Python310\lib\inspect.py", line 1129, in getsourcelines
    lines, lnum = findsource(object)
  File "C:\Users\hdsce\AppData\Local\Programs\Python\Python310\lib\inspect.py", line 958, in findsource
    raise OSError('could not get source code')
OSError: could not get source code

In [65]:
birth = pd.to_datetime(birth, format = '%Y년 %m월 %d일')

In [66]:
birth

0   2000-01-01
dtype: datetime64[ns]

In [67]:
birth.iloc[0]

Timestamp('2000-01-01 00:00:00')

In [68]:
today = pd.Timestamp.today()
today

Timestamp('2023-03-15 13:34:15.669041')

In [69]:
today.timestamp()

1678887255.669041

In [70]:
dtGap = today - birth.iloc[0]

In [71]:
dtGap

Timedelta('8474 days 13:34:15.669041')

In [74]:
dtGap.days * 3 * 7000

177954000

In [75]:
price['거래일'].dt.year

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
139914    2022
139915    2022
139916    2022
139917    2022
139918    2022
Name: 거래일, Length: 139919, dtype: int64

In [76]:
price['거래일'].dt.month

0          1
1          1
2          1
3          1
4          1
          ..
139914    12
139915    12
139916    12
139917    12
139918    12
Name: 거래일, Length: 139919, dtype: int64

In [77]:
price['거래일'].dt.day

0          3
1          2
2          6
3          9
4         20
          ..
139914     3
139915     6
139916    10
139917     6
139918    29
Name: 거래일, Length: 139919, dtype: int64

In [78]:
price['거래일'].dt.day_name()

0           Friday
1         Thursday
2           Monday
3         Thursday
4           Monday
            ...
139914    Saturday
139915     Tuesday
139916    Saturday
139917     Tuesday
139918    Thursday
Name: 거래일, Length: 139919, dtype: object

In [79]:
price['거래일'].dt.day_name(locale = 'ko_KR')

0         금요일
1         목요일
2         월요일
3         목요일
4         월요일
         ...
139914    토요일
139915    화요일
139916    토요일
139917    화요일
139918    목요일
Name: 거래일, Length: 139919, dtype: object

In [80]:
price['거래일'].dt.strftime('%m월')

0         01월
1         01월
2         01월
3         01월
4         01월
         ...
139914    12월
139915    12월
139916    12월
139917    12월
139918    12월
Name: 거래일, Length: 139919, dtype: object

In [81]:
price['거래일'].dt.strftime('%b')

0         Jan
1         Jan
2         Jan
3         Jan
4         Jan
         ...
139914    Dec
139915    Dec
139916    Dec
139917    Dec
139918    Dec
Name: 거래일, Length: 139919, dtype: object

def printValues(a, b, c):
    for i in (a, b, c):
        print(i)

printValues(1, 2, 3)

printValues(1, 2)

printValues(1, 2, 3, 4)

def printValues(*args):
    for i in args:
        print(i)

printValues(1,2,3,4,5,6,7,8,9,10)

In [88]:
df1 = price[price['거래금액'] >= 1200000]
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [89]:
df2 = price[(price['거래금액'] < 1200000) & (price['층'] >= 60)]
df2

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
27863,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-05-11,185.622,63,350000
50867,현대하이페리온,서울특별시,양천구,목동,916,2003.0,2020-07-03,154.050,66,240000
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-07-25,235.740,67,542500
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-10-27,185.622,66,380000
73224,현대하이페리온,서울특별시,양천구,목동,916,2003.0,2020-11-13,138.200,60,210000
87446,현대하이페리온,서울특별시,양천구,목동,916,2003.0,2021-01-05,154.050,61,285000
93843,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-02-10,214.967,64,460000
101497,타워팰리스1,서울특별시,강남구,도곡동,467,2002.0,2021-04-22,137.240,61,314000
104423,현대하이페리온,서울특별시,양천구,목동,916,2003.0,2021-05-28,154.050,61,285000
106382,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-05-04,244.224,63,535000
106395,타워팰리스1,서울특별시,강남구,도곡동,467,2002.0,2021-05-13,244.660,61,540000
106407,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-05-24,214.967,62,455000
110635,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-06-10,214.967,60,478000
110646,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-06-20,214.967,63,450000
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-06-24,214.967,66,458000
122484,타워팰리스1,서울특별시,강남구,도곡동,467,2002.0,2021-09-02,137.240,60,368000
122507,타워팰리스1,서울특별시,강남구,도곡동,467,2002.0,2021-09-30,222.480,64,482500
126396,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-11-23,185.622,62,423000
131023,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2022-03-30,244.224,63,554000
137287,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2022-08-29,244.224,64,640000

In [91]:
price['층'].gt(60).sum()

17

In [92]:
price['층'].ge(60).sum()

20

In [93]:
price['층'].lt(60).sum()

139899

In [94]:
price['층'].le(60).sum()

139902

In [95]:
price['층'].eq(60).sum()

3

In [96]:
price['층'].ne(60).sum()

139916

In [97]:
price['거래금액'].lt(1200000) & price['층'].ge(60)

0         False
1         False
2         False
3         False
4         False
          ...
139914    False
139915    False
139916    False
139917    False
139918    False
Length: 139919, dtype: bool

In [98]:
# 구가 '강남구'인 행을 선택해보세요. eq()
price[price['구'].eq('강남구')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5819,현대하이츠,서울특별시,강남구,역삼동,775-15,2004.0,2020-01-03,99.220,4,77000
5820,우림루미아트1,서울특별시,강남구,역삼동,706-11,2003.0,2020-01-03,24.000,8,20200
5821,한스빌(836),서울특별시,강남구,역삼동,836,1996.0,2020-01-04,41.950,11,39500
5822,동부센트레빌,서울특별시,강남구,역삼동,716,1998.0,2020-01-06,59.820,21,148800
5823,강남서해더블루,서울특별시,강남구,역삼동,796-29,2012.0,2020-01-06,62.260,10,85000
...,...,...,...,...,...,...,...,...,...,...
139839,목련타운,서울특별시,강남구,일원동,716,1993.0,2022-12-09,134.710,14,210000
139840,목련타운,서울특별시,강남구,일원동,716,1993.0,2022-12-12,134.710,6,227000
139841,신동아,서울특별시,강남구,수서동,736,1992.0,2022-12-10,39.510,13,95000
139842,대림아크로빌,서울특별시,강남구,도곡동,467-6,1999.0,2022-12-09,177.255,22,260000
139843,대림아크로빌,서울특별시,강남구,도곡동,467-6,1999.0,2022-12-15,172.467,31,260000

In [99]:
# 구가 '강남구' 또는 '서초구'인 행을 선택해보세요. eq(), |
price[price['구'].eq('강남구') | price['구'].eq('서초구')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5696,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-03,81.3900,5,127500
5697,롯데캐슬아르떼,서울특별시,서초구,방배동,424-28,2013.0,2020-01-03,121.6356,12,209000
5698,신한엔시모,서울특별시,서초구,방배동,802-4,2005.0,2020-01-03,244.2000,3,197500
5699,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-07,116.1300,12,160000
5700,방배브라운가,서울특별시,서초구,방배동,930-1,2006.0,2020-01-08,84.9400,10,131000
...,...,...,...,...,...,...,...,...,...,...
139839,목련타운,서울특별시,강남구,일원동,716,1993.0,2022-12-09,134.7100,14,210000
139840,목련타운,서울특별시,강남구,일원동,716,1993.0,2022-12-12,134.7100,6,227000
139841,신동아,서울특별시,강남구,수서동,736,1992.0,2022-12-10,39.5100,13,95000
139842,대림아크로빌,서울특별시,강남구,도곡동,467-6,1999.0,2022-12-09,177.2550,22,260000
139843,대림아크로빌,서울특별시,강남구,도곡동,467-6,1999.0,2022-12-15,172.4670,31,260000

In [100]:
# 구가 '강남구', '서초구' 또는 '송파구'인 행을 선택해보세요. eq(), |
price[price['구'].eq('강남구') | price['구'].eq('서초구') | price['구'].eq('송파구')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5696,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-03,81.3900,5,127500
5697,롯데캐슬아르떼,서울특별시,서초구,방배동,424-28,2013.0,2020-01-03,121.6356,12,209000
5698,신한엔시모,서울특별시,서초구,방배동,802-4,2005.0,2020-01-03,244.2000,3,197500
5699,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-07,116.1300,12,160000
5700,방배브라운가,서울특별시,서초구,방배동,930-1,2006.0,2020-01-08,84.9400,10,131000
...,...,...,...,...,...,...,...,...,...,...
139884,송파파인타운2단지,서울특별시,송파구,장지동,835,2008.0,2022-12-03,84.9500,15,110000
139885,송파더센트레,서울특별시,송파구,장지동,879,2013.0,2022-12-04,51.8200,13,75000
139886,대림,서울특별시,송파구,방이동,217,1985.0,2022-12-19,125.0750,12,160000
139887,상아2차아파트,서울특별시,송파구,오금동,165,1988.0,2022-12-01,45.7700,6,92000
139888,아남,서울특별시,송파구,오금동,67,1992.0,2022-12-01,84.9300,14,149123

In [101]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000

In [104]:
price['동'].isin(values = ['필운동', '사직동', '내수동'])

0          True
1          True
2          True
3          True
4          True
          ...
139914    False
139915    False
139916    False
139917    False
139918    False
Name: 동, Length: 139919, dtype: bool

In [ ]:
price[price['구'].eq('강남구') | price['구'].eq('서초구') | price['구'].eq('송파구')]

In [105]:
price[price['구'].isin(values = ['강남구', '서초구', '송파구'])]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5696,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-03,81.3900,5,127500
5697,롯데캐슬아르떼,서울특별시,서초구,방배동,424-28,2013.0,2020-01-03,121.6356,12,209000
5698,신한엔시모,서울특별시,서초구,방배동,802-4,2005.0,2020-01-03,244.2000,3,197500
5699,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-07,116.1300,12,160000
5700,방배브라운가,서울특별시,서초구,방배동,930-1,2006.0,2020-01-08,84.9400,10,131000
...,...,...,...,...,...,...,...,...,...,...
139884,송파파인타운2단지,서울특별시,송파구,장지동,835,2008.0,2022-12-03,84.9500,15,110000
139885,송파더센트레,서울특별시,송파구,장지동,879,2013.0,2022-12-04,51.8200,13,75000
139886,대림,서울특별시,송파구,방이동,217,1985.0,2022-12-19,125.0750,12,160000
139887,상아2차아파트,서울특별시,송파구,오금동,165,1988.0,2022-12-01,45.7700,6,92000
139888,아남,서울특별시,송파구,오금동,67,1992.0,2022-12-01,84.9300,14,149123

In [107]:
price[price['구'].str.contains(pat = '강남|서초|송파')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5696,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-03,81.3900,5,127500
5697,롯데캐슬아르떼,서울특별시,서초구,방배동,424-28,2013.0,2020-01-03,121.6356,12,209000
5698,신한엔시모,서울특별시,서초구,방배동,802-4,2005.0,2020-01-03,244.2000,3,197500
5699,삼호1동~3동,서울특별시,서초구,방배동,770-1,1975.0,2020-01-07,116.1300,12,160000
5700,방배브라운가,서울특별시,서초구,방배동,930-1,2006.0,2020-01-08,84.9400,10,131000
...,...,...,...,...,...,...,...,...,...,...
139884,송파파인타운2단지,서울특별시,송파구,장지동,835,2008.0,2022-12-03,84.9500,15,110000
139885,송파더센트레,서울특별시,송파구,장지동,879,2013.0,2022-12-04,51.8200,13,75000
139886,대림,서울특별시,송파구,방이동,217,1985.0,2022-12-19,125.0750,12,160000
139887,상아2차아파트,서울특별시,송파구,오금동,165,1988.0,2022-12-01,45.7700,6,92000
139888,아남,서울특별시,송파구,오금동,67,1992.0,2022-12-01,84.9300,14,149123

In [108]:
price[price['구'].str.contains(pat = '강남|강동|강북')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
1494,에스케이북한산시티,서울특별시,강북구,미아동,1353,2004.0,2020-01-01,84.860,21,52800
1495,이너스내안에,서울특별시,강북구,미아동,1361,2013.0,2020-01-01,84.960,6,44700
1496,삼성래미안트리베라2단지,서울특별시,강북구,미아동,812,2010.0,2020-01-01,59.380,2,56000
1497,경남아너스빌(1356-0),서울특별시,강북구,미아동,1356,2003.0,2020-01-01,59.964,10,50000
1498,벽산라이브파크,서울특별시,강북구,미아동,1354,2004.0,2020-01-01,114.680,11,54500
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.520,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.220,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.640,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.920,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.990,7,55000

In [109]:
price[price['구'].str.contains(pat = '강[남동북]')]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
1494,에스케이북한산시티,서울특별시,강북구,미아동,1353,2004.0,2020-01-01,84.860,21,52800
1495,이너스내안에,서울특별시,강북구,미아동,1361,2013.0,2020-01-01,84.960,6,44700
1496,삼성래미안트리베라2단지,서울특별시,강북구,미아동,812,2010.0,2020-01-01,59.380,2,56000
1497,경남아너스빌(1356-0),서울특별시,강북구,미아동,1356,2003.0,2020-01-01,59.964,10,50000
1498,벽산라이브파크,서울특별시,강북구,미아동,1354,2004.0,2020-01-01,114.680,11,54500
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.520,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.220,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.640,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.920,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.990,7,55000

In [110]:
addr = pd.Series(data = ['서울특별시 강남구', '경기도 성남시 분당구'])

In [111]:
addr.str.replace(' ', '')

0     서울특별시강남구
1    경기도성남시분당구
dtype: object

In [114]:
addr.str.replace('\\w+구', '', regex = True)

0      서울특별시
1    경기도 성남시
dtype: object

In [115]:
addr.str.split(pat = ' ')

0       [서울특별시, 강남구]
1    [경기도, 성남시, 분당구]
dtype: object

In [116]:
addr.str.split(pat = ' ', expand = True)

       0    1     2
0  서울특별시  강남구  None
1    경기도  성남시   분당구

In [117]:
addr.str.find('시')

0    4
1    6
dtype: int64

In [118]:
addr.str.slice(start = 0, stop = 2)

0    서울
1    경기
dtype: object

In [121]:
addr.str.extract('([가-힣]+시)')

       0
0  서울특별시
1    성남시

In [122]:
prod = pd.Series(data = ['55ABC-DEF', 'OLED66XYZ-ABD'])

In [124]:
prod.str.replace('OLED', '').str.slice(0, 2)

0    55
1    66
dtype: object

In [126]:
prod.str.extract('(\\d+)')

    0
0  55
1  66

In [127]:
tels = pd.Series(data = ['010-2345-6789', '010 2345 6789', '02-345-6789'])

In [128]:
tels.str.extract('(010.+)')

               0
0  010-2345-6789
1  010 2345 6789
2            NaN

In [129]:
tels.str.extract('(\\d{2,3}.+)')

               0
0  010-2345-6789
1  010 2345 6789
2    02-345-6789

In [130]:
tels.str.extract('(\\d{2,3}-.+)')

               0
0  010-2345-6789
1            NaN
2    02-345-6789

In [131]:
df1.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [132]:
df1.index

Int64Index([126596, 131285, 132781, 137420], dtype='int64')

In [133]:
df1.drop(index = [126596, 131285])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [134]:
df1.drop(index = df1.index[0:2])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [135]:
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [138]:
# df1.reset_index().drop(columns = ['index'])
df1.reset_index(drop = True)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [139]:
df1 = df1.set_index(keys = ['아파트'])
df1

               시    구      동       지번    건축년도        거래일     전용면적   층     거래금액
아파트
파르크한남      서울특별시  용산구    한남동      410  2020.0 2021-12-13  268.950   2  1200000
파르크한남      서울특별시  용산구    한남동      410  2020.0 2022-04-30  268.670   5  1350000
PH129      서울특별시  강남구    청담동      129  2020.0 2022-04-28  273.960  16  1450000
아크로서울포레스트  서울특별시  성동구  성수동1가  685-700  2020.0 2022-09-30  264.546  47  1300000

In [140]:
df1.index

Index(['파르크한남', '파르크한남', 'PH129', '아크로서울포레스트'], dtype='object', name='아파트')

In [141]:
df1.index.name

'아파트'

In [143]:
df1 = df1.reset_index()
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [144]:
price

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [145]:
price.isna()

          아파트      시      구      동     지번   건축년도    거래일   전용면적      층   거래금액
0       False  False  False  False  False  False  False  False  False  False
1       False  False  False  False  False  False  False  False  False  False
2       False  False  False  False  False  False  False  False  False  False
3       False  False  False  False  False  False  False  False  False  False
4       False  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
139914  False  False  False  False  False  False  False  False  False  False
139915  False  False  False  False  False  False  False  False  False  False
139916  False  False  False  False  False  False  False  False  False  False
139917  False  False  False  False  False  False  False  False  False  False
139918  False  False  False  False  False  False  False  False  False  False

[139919 rows x 10 columns]

In [146]:
price.isna().sum()

아파트      0
시        0
구        0
동        0
지번      40
건축년도     2
거래일      0
전용면적     0
층        0
거래금액     0
dtype: int64

In [148]:
price[price['지번'].isna()]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5817,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-01-20,84.99,3,141000
5818,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-01-23,84.95,1,132000
13920,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-02-08,59.21,13,105000
13925,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-02-22,114.90,1,147300
19081,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-03-07,84.48,20,126500
42068,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-06-13,84.48,14,130000
42079,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-06-30,84.87,14,130000
54592,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-05,84.48,14,134000
54593,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-05,84.48,14,134000
54595,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-06,84.87,15,133000
54603,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-11,84.48,5,130000
54605,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-12,59.21,11,115000
54621,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-09,84.95,4,145000
54625,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-18,84.95,8,148000
54628,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-27,101.90,3,163000
60635,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-08-06,59.09,14,124000
60646,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-08-26,114.90,5,194000
60647,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-08-29,114.90,9,193000
69376,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-10-06,84.95,1,155000
75432,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-11-06,59.09,5,125000
75437,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-11-18,84.95,9,159000
82968,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-12-05,84.87,17,155000
82972,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-12-03,84.95,6,158000
89342,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-01-12,84.48,8,160000
97584,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-03-02,84.48,11,159000
97585,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-03-11,84.95,2,163000
101262,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-06,84.48,21,154500
101263,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-10,59.21,2,135000
101264,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-20,84.87,14,155000
101270,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-04-15,101.90,4,187500
101272,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-04-27,101.90,3,184500
106151,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-05-16,59.21,8,131000
106152,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-05-18,84.87,1,151000
106156,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-05-26,84.95,4,165000
115150,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-07-26,84.99,7,182000
124735,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-10-13,84.87,10,178000
126288,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-11-11,84.41,9,160000
129553,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2022-02-05,84.87,10,175000
135816,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2022-06-23,101.90,5,204000
137927,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2022-09-28,84.95,8,173000

In [149]:
price.loc[price['아파트'].eq('서초포레스타2단지'), '지번'] = '384'
price.loc[price['아파트'].eq('힐스테이트 서초 젠트리스'), '지번'] = '557'

In [150]:
price.isna().sum()

아파트     0
시       0
구       0
동       0
지번      0
건축년도    2
거래일     0
전용면적    0
층       0
거래금액    0
dtype: int64

In [151]:
price[price['건축년도'].isna()]

              아파트      시    구    동  지번  건축년도        거래일   전용면적  층    거래금액
128072  DMCSKVIEW  서울특별시  은평구  수색동  30   NaN 2022-01-28  84.99  7  140000
129140  DMCSKVIEW  서울특별시  은평구  수색동  30   NaN 2022-02-10  84.99  6  137000

In [152]:
price[price['건축년도'].isna()].fillna(value = '-')

              아파트      시    구    동  지번 건축년도        거래일   전용면적  층    거래금액
128072  DMCSKVIEW  서울특별시  은평구  수색동  30    - 2022-01-28  84.99  7  140000
129140  DMCSKVIEW  서울특별시  은평구  수색동  30    - 2022-02-10  84.99  6  137000

In [153]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_2020_2022.z',
 'NA_Sample.xlsx',
 'online_mall.csv']

In [154]:
na = pd.read_excel('NA_Sample.xlsx')

In [155]:
na

    구분 항목    값
0    A  a  1.2
1  NaN  b  2.3
2  NaN  c  3.5
3    B  a  1.7
4  NaN  b  2.6
5  NaN  c  3.6

In [156]:
na.fillna(method = 'ffill')

  구분 항목    값
0  A  a  1.2
1  A  b  2.3
2  A  c  3.5
3  B  a  1.7
4  B  b  2.6
5  B  c  3.6

In [157]:
price.shape[0]

139919

In [158]:
price.dropna()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [160]:
price[~price['건축년도'].isna()]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [162]:
price = price[price['건축년도'].notna()]

In [163]:
price['건축년도'] = price['건축년도'].astype(int)

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\1760775511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['건축년도'] = price['건축년도'].astype(int)

In [164]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도             int32
거래일     datetime64[ns]
전용면적           float64
층                int32
거래금액             int32
dtype: object

In [165]:
price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\886309113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3

In [166]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,100000,2947.218005
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,162000,3273.128023
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,88000,2642.161769
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,130000,2206.449622
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,149000,3320.278209

In [167]:
%precision 3

'%.3f'

In [169]:
pd.options.display.precision = 3

In [170]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,100000,2947.218
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,162000,3273.128
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,88000,2642.162
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,130000,2206.450
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,149000,3320.278

In [171]:
price['거래금액'] = price['거래금액'] / 10000

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\2274852480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['거래금액'] = price['거래금액'] / 10000

In [172]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.162
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.450
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278

In [173]:
price['거래년도'] = price['거래일'].dt.year

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\2807045878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['거래년도'] = price['거래일'].dt.year

In [174]:
price['경과년수'] = price['거래년도'] - price['건축년도']

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\505928929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['경과년수'] = price['거래년도'] - price['건축년도']

In [175]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218,2020,13
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128,2020,12
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.162,2020,26
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.450,2020,16
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278,2020,17

In [176]:
price['거래월'] = price['거래일'].dt.strftime('%m월')

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\1086144646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['거래월'] = price['거래일'].dt.strftime('%m월')

In [177]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218,2020,13,01월
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128,2020,12,01월
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.162,2020,26,01월
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.450,2020,16,01월
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278,2020,17,01월

result = []
for i in price['평당금액']:
    if i >= 5000:
        result.append('5천 이상')
    else:
        result.append('5천 미만')

In [179]:
locs = price['평당금액'].ge(5000)
locs

0         False
1         False
2         False
3         False
4         False
          ...
139914    False
139915    False
139916    False
139917    False
139918    False
Name: 평당금액, Length: 139917, dtype: bool

In [181]:
price['금액구분'] = np.where(locs, '5천 이상', '5천 미만')

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\2873884845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['금액구분'] = np.where(locs, '5천 이상', '5천 미만')

In [182]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218,2020,13,01월,5천 미만
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128,2020,12,01월,5천 미만
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.162,2020,26,01월,5천 미만
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.450,2020,16,01월,5천 미만
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278,2020,17,01월,5천 미만

In [187]:
grade = np.select(
    condlist = [price['평당금액'].ge(10000), 
                price['평당금액'].ge(5000), 
                price['평당금액'].ge(1000)], 
    choicelist = ['1억 이상', '5천 이상', '5천 미만']
)

In [188]:
grade = pd.Series(grade)

In [189]:
grade.value_counts()

5천 미만    108143
5천 이상     28777
1억 이상      2738
0           259
dtype: int64

In [193]:
grade[grade.eq('0')] = '값 없음'

In [194]:
grade.value_counts()

5천 미만    108143
5천 이상     28777
1억 이상      2738
값 없음        259
dtype: int64

In [195]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218,2020,13,01월,5천 미만
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128,2020,12,01월,5천 미만
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.162,2020,26,01월,5천 미만
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.450,2020,16,01월,5천 미만
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278,2020,17,01월,5천 미만

In [196]:
price['주소'] = price['시'] + ' ' + price['구'] + ' ' + \
                price['동'] + ' ' + price['지번']

C:\Users\hdsce\AppData\Local\Temp\ipykernel_9972\3909529108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['주소'] = price['시'] + ' ' + price['구'] + ' ' + \

In [197]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분,주소
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007,2020-01-03,111.97,6,10.0,2947.218,2020,13,01월,5천 미만,서울특별시 종로구 필운동 254
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008,2020-01-02,163.33,2,16.2,3273.128,2020,12,01월,5천 미만,서울특별시 종로구 사직동 9-1
2,세종로대우,서울특별시,종로구,내수동,167,1994,2020-01-06,109.91,11,8.8,2642.162,2020,26,01월,5천 미만,서울특별시 종로구 내수동 167
3,킹스매너,서울특별시,종로구,내수동,110-15,2004,2020-01-09,194.43,4,13.0,2206.450,2020,16,01월,5천 미만,서울특별시 종로구 내수동 110-15
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003,2020-01-20,148.09,8,14.9,3320.278,2020,17,01월,5천 미만,서울특별시 종로구 내수동 95

In [198]:
addr = ['서울특별시', '종로구', '내수동', '95']

In [199]:
' '.join(addr)

'서울특별시 종로구 내수동 95'

In [200]:
cols = ['시', '구', '동', '지번']
price[cols]

            시    구    동      지번
0       서울특별시  종로구  필운동     254
1       서울특별시  종로구  사직동     9-1
2       서울특별시  종로구  내수동     167
3       서울특별시  종로구  내수동  110-15
4       서울특별시  종로구  내수동      95
...       ...  ...  ...     ...
139914  서울특별시  강동구  암사동  493-14
139915  서울특별시  강동구  암사동   414-2
139916  서울특별시  강동구  암사동     509
139917  서울특별시  강동구  성내동   452-2
139918  서울특별시  강동구  강일동     114

[139917 rows x 4 columns]

In [201]:
price[cols].apply(func = lambda x: ' '.join(x), axis = 1)

0            서울특별시 종로구 필운동 254
1            서울특별시 종로구 사직동 9-1
2            서울특별시 종로구 내수동 167
3         서울특별시 종로구 내수동 110-15
4             서울특별시 종로구 내수동 95
                  ...
139914    서울특별시 강동구 암사동 493-14
139915     서울특별시 강동구 암사동 414-2
139916       서울특별시 강동구 암사동 509
139917     서울특별시 강동구 성내동 452-2
139918       서울특별시 강동구 강일동 114
Length: 139917, dtype: object

In [202]:
price['아파트']

0            신동아블루아광화문의꿈
1         광화문스페이스본(106동)
2                  세종로대우
3                   킹스매너
4               경희궁파크팰리스
               ...
139914             중앙하이츠
139915           롯데캐슬퍼스트
139916           선사현대아파트
139917           파크뷰진도맨션
139918         강동리버스트4단지
Name: 아파트, Length: 139917, dtype: object

In [203]:
price['아파트'].map(len)

0         11
1         14
2          5
3          4
4          8
          ..
139914     5
139915     7
139916     7
139917     7
139918     9
Name: 아파트, Length: 139917, dtype: int64

In [204]:
price[cols]

            시    구    동      지번
0       서울특별시  종로구  필운동     254
1       서울특별시  종로구  사직동     9-1
2       서울특별시  종로구  내수동     167
3       서울특별시  종로구  내수동  110-15
4       서울특별시  종로구  내수동      95
...       ...  ...  ...     ...
139914  서울특별시  강동구  암사동  493-14
139915  서울특별시  강동구  암사동   414-2
139916  서울특별시  강동구  암사동     509
139917  서울특별시  강동구  성내동   452-2
139918  서울특별시  강동구  강일동     114

[139917 rows x 4 columns]

In [205]:
price[cols].apply(func = len, axis = 0)

시     139917
구     139917
동     139917
지번    139917
dtype: int64

In [206]:
price[cols].apply(func = len, axis = 1)

0         4
1         4
2         4
3         4
4         4
         ..
139914    4
139915    4
139916    4
139917    4
139918    4
Length: 139917, dtype: int64

In [208]:
price[cols].applymap(func = len)

        시  구  동  지번
0       5  3  3   3
1       5  3  3   3
2       5  3  3   3
3       5  3  3   6
4       5  3  3   2
...    .. .. ..  ..
139914  5  3  3   6
139915  5  3  3   5
139916  5  3  3   3
139917  5  3  3   5
139918  5  3  3   3

[139917 rows x 4 columns]

In [209]:
price['층'].sort_values()

17278     -3
49742     -3
31734     -2
49607     -2
29747     -2
          ..
122507    64
69573     66
110650    66
50867     66
55000     67
Name: 층, Length: 139917, dtype: int32

In [210]:
price['층'].sort_values(ascending = False)

55000     67
110650    66
50867     66
69573     66
137287    64
          ..
49607     -2
45769     -2
52683     -2
17278     -3
49742     -3
Name: 층, Length: 139917, dtype: int32

In [211]:
price.sort_values(by = ['층'])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분,주소
17278,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-03-20,134.510,-3,8.20,2011.746,2020,10,03월,5천 미만,서울특별시 은평구 진관동 84
49742,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-23,134.510,-3,10.40,2551.483,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
31734,롯데캐슬골든힐스,서울특별시,성북구,길음동,1287-1,2019,2020-06-27,59.895,-2,7.45,4104.711,2020,1,06월,5천 미만,서울특별시 성북구 길음동 1287-1
49607,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-01,101.990,-2,9.47,3064.124,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
29747,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020-06-30,76.660,-2,16.75,7210.410,2020,4,06월,5천 이상,서울특별시 성동구 옥수동 528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122507,타워팰리스1,서울특별시,강남구,도곡동,467,2002,2021-09-30,222.480,64,48.25,7156.823,2021,19,09월,5천 이상,서울특별시 강남구 도곡동 467
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.622,66,38.00,6755.665,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.967,66,45.80,7030.847,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29
50867,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.050,66,24.00,5141.188,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.740,67,54.25,7594.172,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29

In [212]:
price.sort_values(by = ['층'], ascending = False)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분,주소
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.740,67,54.25,7594.172,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.967,66,45.80,7030.847,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29
50867,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.050,66,24.00,5141.188,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.622,66,38.00,6755.665,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
137287,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2022-08-29,244.224,64,64.00,8647.799,2022,18,08월,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49607,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-01,101.990,-2,9.47,3064.124,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
45769,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020-07-30,107.990,-2,22.00,6722.845,2020,4,07월,5천 이상,서울특별시 성동구 옥수동 528
52683,천왕연지타운2단지,서울특별시,구로구,천왕동,281,2014,2020-07-02,84.780,-2,6.77,2635.173,2020,6,07월,5천 미만,서울특별시 구로구 천왕동 281
17278,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-03-20,134.510,-3,8.20,2011.746,2020,10,03월,5천 미만,서울특별시 은평구 진관동 84
49742,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-23,134.510,-3,10.40,2551.483,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84

In [213]:
price.sort_values(by = ['층', '거래금액'], ascending = False)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분,주소
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.740,67,54.25,7594.172,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.967,66,45.80,7030.847,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.622,66,38.00,6755.665,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
50867,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.050,66,24.00,5141.188,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
137287,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2022-08-29,244.224,64,64.00,8647.799,2022,18,08월,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49607,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-01,101.990,-2,9.47,3064.124,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
31734,롯데캐슬골든힐스,서울특별시,성북구,길음동,1287-1,2019,2020-06-27,59.895,-2,7.45,4104.711,2020,1,06월,5천 미만,서울특별시 성북구 길음동 1287-1
52683,천왕연지타운2단지,서울특별시,구로구,천왕동,281,2014,2020-07-02,84.780,-2,6.77,2635.173,2020,6,07월,5천 미만,서울특별시 구로구 천왕동 281
49742,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-23,134.510,-3,10.40,2551.483,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
17278,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-03-20,134.510,-3,8.20,2011.746,2020,10,03월,5천 미만,서울특별시 은평구 진관동 84

In [214]:
price.sort_values(by = ['층', '거래금액'], ascending = [False, True])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분,주소
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-07-25,235.740,67,54.25,7594.172,2020,16,07월,5천 이상,서울특별시 강남구 도곡동 467-29
50867,현대하이페리온,서울특별시,양천구,목동,916,2003,2020-07-03,154.050,66,24.00,5141.188,2020,17,07월,5천 이상,서울특별시 양천구 목동 916
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020-10-27,185.622,66,38.00,6755.665,2020,16,10월,5천 이상,서울특별시 강남구 도곡동 467-29
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-06-24,214.967,66,45.80,7030.847,2021,17,06월,5천 이상,서울특별시 강남구 도곡동 467-29
93843,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021-02-10,214.967,64,46.00,7061.549,2021,17,02월,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49607,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-01,101.990,-2,9.47,3064.124,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84
29747,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020-06-30,76.660,-2,16.75,7210.410,2020,4,06월,5천 이상,서울특별시 성동구 옥수동 528
45769,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020-07-30,107.990,-2,22.00,6722.845,2020,4,07월,5천 이상,서울특별시 성동구 옥수동 528
17278,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-03-20,134.510,-3,8.20,2011.746,2020,10,03월,5천 미만,서울특별시 은평구 진관동 84
49742,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2010,2020-07-23,134.510,-3,10.40,2551.483,2020,10,07월,5천 미만,서울특별시 은평구 진관동 84

In [215]:
price['거래금액'].count()

139917

In [216]:
price['거래금액'].sum()

1277873.927

In [217]:
price['거래금액'].mean()

9.133

In [218]:
price['거래금액'].std()

6.748

In [219]:
price['거래금액'].min()

0.600

In [220]:
price['거래금액'].max()

145.000

In [223]:
price.groupby(by = ['구'])['거래금액'].count().sort_values(ascending = False)

구
노원구     13909
강서구      9322
구로구      8491
송파구      7432
성북구      7386
도봉구      6876
강동구      6801
강남구      6723
서초구      6194
영등포구     5998
양천구      5793
은평구      5724
동대문구     5496
중랑구      5089
동작구      5031
성동구      4920
마포구      4849
관악구      4604
서대문구     4558
강북구      3379
금천구      3093
용산구      2685
광진구      2310
중구       1835
종로구      1419
Name: 거래금액, dtype: int64

In [224]:
price.groupby(by = ['구'])['거래금액'].sum()

구
강남구     131408.698
강동구      59086.763
강북구      19777.230
강서구      66239.448
관악구      30179.764
광진구      25564.771
구로구      47930.803
금천구      15748.476
노원구      79744.704
도봉구      34276.570
동대문구     40136.465
동작구      50572.400
마포구      51747.760
서대문구     37733.594
서초구     117312.989
성동구      62085.399
성북구      53973.694
송파구     103418.825
양천구      54589.909
영등포구     55583.645
용산구      46837.436
은평구      37693.912
종로구      11753.588
중구       16461.131
중랑구      28015.951
Name: 거래금액, dtype: float64

In [226]:
price.groupby(by = ['구'])['거래금액'].mean().sort_values(ascending = False)

구
강남구     19.546
서초구     18.940
용산구     17.444
송파구     13.915
성동구     12.619
광진구     11.067
마포구     10.672
동작구     10.052
양천구      9.423
영등포구     9.267
중구       8.971
강동구      8.688
종로구      8.283
서대문구     8.279
성북구      7.308
동대문구     7.303
강서구      7.106
은평구      6.585
관악구      6.555
강북구      5.853
노원구      5.733
구로구      5.645
중랑구      5.505
금천구      5.092
도봉구      4.985
Name: 거래금액, dtype: float64

In [228]:
price.groupby(by = ['구'])['거래금액'].std().sort_values(ascending = False)

구
용산구     12.618
강남구     11.642
서초구     10.952
성동구      6.445
송파구      6.369
종로구      5.545
영등포구     5.475
양천구      5.202
광진구      5.048
중구       4.726
마포구      4.338
강동구      4.289
동작구      3.948
서대문구     3.469
동대문구     3.287
강서구      3.081
구로구      2.879
은평구      2.764
관악구      2.572
금천구      2.570
성북구      2.539
중랑구      2.324
노원구      2.178
강북구      2.132
도봉구      2.074
Name: 거래금액, dtype: float64

In [229]:
price.groupby(by = ['구'])['거래금액'].min()

구
강남구     1.420
강동구     0.780
강북구     0.750
강서구     0.770
관악구     0.900
광진구     0.750
구로구     0.600
금천구     0.800
노원구     0.675
도봉구     0.650
동대문구    0.700
동작구     1.090
마포구     1.140
서대문구    1.100
서초구     1.500
성동구     1.205
성북구     1.000
송파구     1.395
양천구     1.050
영등포구    0.670
용산구     1.200
은평구     0.851
종로구     0.750
중구      0.830
중랑구     0.770
Name: 거래금액, dtype: float64

In [230]:
price.groupby(by = ['구'])['거래금액'].max()

구
강남구     145.00
강동구      40.00
강북구      14.95
강서구      20.50
관악구      16.00
광진구      35.00
구로구      20.50
금천구      14.75
노원구      18.00
도봉구      15.00
동대문구     18.30
동작구      43.00
마포구      51.00
서대문구     21.50
서초구      84.00
성동구     130.00
성북구      21.00
송파구      47.30
양천구      34.15
영등포구     55.50
용산구     135.00
은평구      17.65
종로구      37.50
중구       37.00
중랑구      22.00
Name: 거래금액, dtype: float64

In [231]:
price.sort_values(by = ['평당금액'], ascending = False)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액,거래년도,경과년수,거래월,금액구분,주소
135785,아크로리버뷰신반포,서울특별시,서초구,잠원동,159,2018,2022-06-24,78.50,26,43.80,18412.739,2022,4,06월,5천 이상,서울특별시 서초구 잠원동 159
135800,반포주공1단지,서울특별시,서초구,반포동,757,1973,2022-06-29,107.47,3,59.00,18116.684,2022,49,06월,5천 이상,서울특별시 서초구 반포동 757
128654,아크로리버파크,서울특별시,서초구,반포동,2-12,2016,2022-01-21,84.95,8,46.60,18102.413,2022,6,01월,5천 이상,서울특별시 서초구 반포동 2-12
19105,개포주공1단지,서울특별시,강남구,개포동,141,1982,2020-03-04,56.57,4,30.95,18054.623,2020,38,03월,5천 이상,서울특별시 강남구 개포동 141
13976,개포주공1단지,서울특별시,강남구,개포동,141,1982,2020-02-17,58.08,4,31.50,17897.727,2020,38,02월,5천 이상,서울특별시 강남구 개포동 141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32384,화계맨숀,서울특별시,강북구,수유동,461-13,1975,2020-06-03,50.91,3,0.90,583.382,2020,45,06월,5천 미만,서울특별시 강북구 수유동 461-13
24112,화계맨숀,서울특별시,강북구,수유동,461-13,1975,2020-05-20,58.51,5,1.00,564.006,2020,45,05월,5천 미만,서울특별시 강북구 수유동 461-13
12271,청우아트빌라3차,서울특별시,구로구,구로동,740-9,1994,2020-02-29,42.30,1,0.70,546.099,2020,26,02월,5천 미만,서울특별시 구로구 구로동 740-9
66647,로얄,서울특별시,도봉구,쌍문동,357-14,2000,2020-10-23,42.00,-1,0.65,510.714,2020,20,10월,5천 미만,서울특별시 도봉구 쌍문동 357-14
65569,인성아트빌,서울특별시,중구,신당동,432-502,2001,2020-10-12,58.11,-1,0.83,471.347,2020,19,10월,5천 미만,서울특별시 중구 신당동 432-502

In [232]:
price['구'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [233]:
price['구'].nunique()

25

In [234]:
price['구'].value_counts()

노원구     13909
강서구      9322
구로구      8491
송파구      7432
성북구      7386
도봉구      6876
강동구      6801
강남구      6723
서초구      6194
영등포구     5998
양천구      5793
은평구      5724
동대문구     5496
중랑구      5089
동작구      5031
성동구      4920
마포구      4849
관악구      4604
서대문구     4558
강북구      3379
금천구      3093
용산구      2685
광진구      2310
중구       1835
종로구      1419
Name: 구, dtype: int64

In [235]:
price['구'].value_counts().sort_index()

강남구      6723
강동구      6801
강북구      3379
강서구      9322
관악구      4604
광진구      2310
구로구      8491
금천구      3093
노원구     13909
도봉구      6876
동대문구     5496
동작구      5031
마포구      4849
서대문구     4558
서초구      6194
성동구      4920
성북구      7386
송파구      7432
양천구      5793
영등포구     5998
용산구      2685
은평구      5724
종로구      1419
중구       1835
중랑구      5089
Name: 구, dtype: int64

In [237]:
price['구'].value_counts(normalize = True) * 100

노원구     9.941
강서구     6.663
구로구     6.069
송파구     5.312
성북구     5.279
도봉구     4.914
강동구     4.861
강남구     4.805
서초구     4.427
영등포구    4.287
양천구     4.140
은평구     4.091
동대문구    3.928
중랑구     3.637
동작구     3.596
성동구     3.516
마포구     3.466
관악구     3.291
서대문구    3.258
강북구     2.415
금천구     2.211
용산구     1.919
광진구     1.651
중구      1.311
종로구     1.014
Name: 구, dtype: float64