In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a = [ [1, 2], [3, 4], [5, 6] ]

In [ ]:
np.array(a)

In [ ]:
df = pd.DataFrame(data = a)
df

In [ ]:
type(df)

In [ ]:
df = pd.DataFrame(data = a, index = range(1, 4), columns = ['A', 'B'])
df

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.values

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.info

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[0:2, :]

In [ ]:
df.iloc[:, 0:2]

In [ ]:
df.iloc[:, [1, 0]]

In [ ]:
df

In [ ]:
df.loc[1]

In [ ]:
df.loc[[1]]

In [ ]:
df.loc[1:3]

In [ ]:
df.loc[1:3, :]

In [ ]:
df.loc[:, 'A':'B']

In [ ]:
df.loc[:, ['B', 'A']]

In [ ]:
'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\data'

In [ ]:
'C:/Users/hdsce/Documents/PythonDataAnalysis1/data'

In [ ]:
r'C:\Users\hdsce\Documents\PythonDataAnalysis1\data'

In [ ]:
'I\'m a boy'

In [ ]:
import sys

In [ ]:
sys.version

In [ ]:
import os
import chardet
import numpy as np
import pandas as pd
import joblib

In [ ]:
os.getcwd()

In [ ]:
os.chdir('C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\data')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('..')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('./live')

In [ ]:
os.getcwd()

In [ ]:
os.chdir('../data')

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
os.mkdir('./temp')

In [ ]:
os.listdir()

In [ ]:
os.path.isdir('Online_Mall.csv')

In [ ]:
for file in os.listdir():
    if '.xlsx' in file:
        print(file)

In [ ]:
result = []
for file in os.listdir():
    if ('.xlsx' in file) or ('.csv' in file):
        result.append(file)

In [ ]:
result

In [ ]:
[file for file in os.listdir() if 'Price' in file]

In [ ]:
pd.read_excel('APT_Price_Seoul_2020_2022.xlsx')

In [ ]:
pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', \
              sheet_name = '2022년', \
              usecols = range(1, 12), \
              skiprows = 3, \
              thousands = ',')

In [ ]:
%time df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', \
                          sheet_name = '2020~2022년')

In [ ]:
df1.info()

In [ ]:
%time df1.to_excel('test.xlsx', index = False)

In [ ]:
os.mkdir('◆긴급')

In [ ]:
os.mkdir('2021년')

In [ ]:
os.listdir()

In [ ]:
%%time
df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', 
                    sheet_name = '2020~2022년')

In [ ]:
import time

In [ ]:
start = time.time()
df1 = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', 
                    sheet_name = '2020~2022년')
end = time.time()

In [ ]:
f'코드 실행 소요 시간: {(end - start):.2f}초'

In [ ]:
start

In [ ]:
os.listdir()

!pip install tqdm

In [ ]:
from tqdm import tqdm

In [ ]:
dfAll = pd.DataFrame()

for i in tqdm(range(3)):
    df = pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx',
                       sheet_name = i, 
                       skiprows = 3, 
                       usecols = range(1, 12), 
                       thousands = ',')
    dfAll = pd.concat(objs = [dfAll, df], ignore_index = True)

In [ ]:
dfAll.info()

In [ ]:
df1.info()

In [ ]:
df1.head()

In [ ]:
dfAll

In [ ]:
df.head(n = 10)

In [ ]:
df.tail(n = 10)

In [ ]:
df.sample()

In [ ]:
df.sample(random_state = 1234)

In [ ]:
os.listdir()

In [ ]:
pd.read_excel(io = 'APT_Price_Seoul_2020_2022.xlsx', nrows = 10)

In [ ]:
?pd.read_excel

In [ ]:
??pd.read_excel

In [ ]:
[file for file in os.listdir() if '.csv' in file]

In [ ]:
fileName = 'APT_Price_Seoul_2020_2022.csv'

In [ ]:
pd.read_csv(fileName, encoding = 'CP949')

In [ ]:
with open(file = fileName, mode = 'rb') as file:
    text = file.read()

In [ ]:
text[:100]

In [ ]:
chardet.detect(text[:100])

In [ ]:
chardet.detect(text)

In [ ]:
pd.read_csv(fileName, encoding = 'CP949')

In [ ]:
os.listdir()

In [ ]:
dfs = pd.read_excel(
    io = 'APT_Price_Seoul_2020_2022.xlsx', 
    sheet_name = None, 
    nrows = 10
)

In [ ]:
type(dfs)

In [ ]:
dfs

In [ ]:
dfs.keys()

In [ ]:
dfAll = pd.DataFrame()
for key in dfs.keys():
    df = dfs[key]
    dfAll = pd.concat(objs = [dfAll, df], ignore_index = True)

In [ ]:
dfAll.info()

In [ ]:
os.listdir()

In [ ]:
pd.read_csv('APT_Price_Seoul_2020_2022.csv', 
            encoding = 'CP949', 
            sep = ',', 
            parse_dates = ['거래일'], 
            thousands = ',')

In [ ]:
%%time
df2 = pd.read_csv(fileName, encoding = 'CP949', parse_dates = ['거래일'])

In [ ]:
df2.info()

In [ ]:
%%time
df2.to_csv('test.csv', index = False)

In [ ]:
%time joblib.dump(value = df2, filename = 'test.z')

In [ ]:
%time df3 = joblib.load(filename = 'test.z')

In [ ]:
df3.info()

In [ ]:
df4 = pd.read_csv('test.csv')

In [ ]:
df4.info()

In [ ]:
joblib.dump(value = [df1, df2, df3], filename = 'test2.z')

In [ ]:
df1, df2, df3 = joblib.load(filename = 'test2.z')

In [ ]:
files = [file for file in os.listdir() if 'test' in file]
files

In [ ]:
for file in files:
    os.remove(file)

In [ ]:
folders = [folder for folder in os.listdir() if os.path.isdir(folder)]
folders

In [ ]:
for folder in folders:
    os.rmdir(folder)

In [1]:
import os
import joblib
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\live'

In [3]:
os.chdir('../data')

In [4]:
os.listdir()

['App_Usage.csv',
 'APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_Copy.xlsx',
 'NA_Sample.xlsx',
 'Online_Mall.csv']

In [5]:
price = pd.read_csv('APT_Price_Seoul_2020_2022.csv', encoding = 'CP949')

In [6]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  object
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 11.7+ MB

In [7]:
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [8]:
price['지역코드']

0         11110
1         11110
2         11110
3         11110
4         11110
          ...
139914    11740
139915    11740
139916    11740
139917    11740
139918    11740
Name: 지역코드, Length: 139919, dtype: int64

In [9]:
price[['지역코드']]

         지역코드
0       11110
1       11110
2       11110
3       11110
4       11110
...       ...
139914  11740
139915  11740
139916  11740
139917  11740
139918  11740

[139919 rows x 1 columns]

In [10]:
price[['아파트', '지역코드']]

                   아파트   지역코드
0          신동아블루아광화문의꿈  11110
1       광화문스페이스본(106동)  11110
2                세종로대우  11110
3                 킹스매너  11110
4             경희궁파크팰리스  11110
...                ...    ...
139914           중앙하이츠  11740
139915         롯데캐슬퍼스트  11740
139916         선사현대아파트  11740
139917         파크뷰진도맨션  11740
139918       강동리버스트4단지  11740

[139919 rows x 2 columns]

In [13]:
price.columns

Index(['지역코드', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층',
       '거래금액'],
      dtype='object')

In [14]:
price[['거래일', '전용면적', '층', '거래금액']]

               거래일    전용면적   층     거래금액
0       2020-01-03  111.97   6  100,000
1       2020-01-02  163.33   2  162,000
2       2020-01-06  109.91  11   88,000
3       2020-01-09  194.43   4  130,000
4       2020-01-20  148.09   8  149,000
...            ...     ...  ..      ...
139914  2022-12-03   59.52   8   53,000
139915  2022-12-06  111.22  10  135,000
139916  2022-12-10   59.64  17   77,000
139917  2022-12-06  208.92  18  145,500
139918  2022-12-29   59.99   7   55,000

[139919 rows x 4 columns]

In [15]:
price['거래일':'거래금액']

TypeError: cannot do slice indexing on RangeIndex with these indexers [거래일] of type str

In [16]:
price.loc[:, '거래일':'거래금액']

               거래일    전용면적   층     거래금액
0       2020-01-03  111.97   6  100,000
1       2020-01-02  163.33   2  162,000
2       2020-01-06  109.91  11   88,000
3       2020-01-09  194.43   4  130,000
4       2020-01-20  148.09   8  149,000
...            ...     ...  ..      ...
139914  2022-12-03   59.52   8   53,000
139915  2022-12-06  111.22  10  135,000
139916  2022-12-10   59.64  17   77,000
139917  2022-12-06  208.92  18  145,500
139918  2022-12-29   59.99   7   55,000

[139919 rows x 4 columns]

In [17]:
price.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [18]:
price.dtypes == 'int64'

지역코드     True
아파트     False
시도명     False
시군구     False
법정동     False
지번      False
건축년도    False
거래일     False
전용면적    False
층        True
거래금액    False
dtype: bool

In [19]:
price.loc[:, price.dtypes == 'int64']

         지역코드   층
0       11110   6
1       11110   2
2       11110  11
3       11110   4
4       11110   8
...       ...  ..
139914  11740   8
139915  11740  10
139916  11740  17
139917  11740  18
139918  11740   7

[139919 rows x 2 columns]

In [20]:
price.loc[:, price.dtypes == 'float64']

          건축년도    전용면적
0       2007.0  111.97
1       2008.0  163.33
2       1994.0  109.91
3       2004.0  194.43
4       2003.0  148.09
...        ...     ...
139914  1998.0   59.52
139915  2008.0  111.22
139916  2000.0   59.64
139917  1996.0  208.92
139918  2020.0   59.99

[139919 rows x 2 columns]

In [23]:
locs = (price.dtypes == 'int64') | (price.dtypes == 'float64')

In [24]:
price.loc[:, locs]

         지역코드    건축년도    전용면적   층
0       11110  2007.0  111.97   6
1       11110  2008.0  163.33   2
2       11110  1994.0  109.91  11
3       11110  2004.0  194.43   4
4       11110  2003.0  148.09   8
...       ...     ...     ...  ..
139914  11740  1998.0   59.52   8
139915  11740  2008.0  111.22  10
139916  11740  2000.0   59.64  17
139917  11740  1996.0  208.92  18
139918  11740  2020.0   59.99   7

[139919 rows x 4 columns]

In [29]:
price.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [30]:
locs = price.dtypes.astype(str).isin(values = ['int64', 'float64'])

In [31]:
price.loc[:, locs]

         지역코드    건축년도    전용면적   층
0       11110  2007.0  111.97   6
1       11110  2008.0  163.33   2
2       11110  1994.0  109.91  11
3       11110  2004.0  194.43   4
4       11110  2003.0  148.09   8
...       ...     ...     ...  ..
139914  11740  1998.0   59.52   8
139915  11740  2008.0  111.22  10
139916  11740  2000.0   59.64  17
139917  11740  1996.0  208.92  18
139918  11740  2020.0   59.99   7

[139919 rows x 4 columns]

In [32]:
price.columns

Index(['지역코드', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층',
       '거래금액'],
      dtype='object')

In [33]:
price.columns.str.contains('거래')

array([False, False, False, False, False, False, False,  True, False,
       False,  True])

In [36]:
price.loc[:, price.columns.str.contains('시|거래')]

          시도명  시군구         거래일     거래금액
0       서울특별시  종로구  2020-01-03  100,000
1       서울특별시  종로구  2020-01-02  162,000
2       서울특별시  종로구  2020-01-06   88,000
3       서울특별시  종로구  2020-01-09  130,000
4       서울특별시  종로구  2020-01-20  149,000
...       ...  ...         ...      ...
139914  서울특별시  강동구  2022-12-03   53,000
139915  서울특별시  강동구  2022-12-06  135,000
139916  서울특별시  강동구  2022-12-10   77,000
139917  서울특별시  강동구  2022-12-06  145,500
139918  서울특별시  강동구  2022-12-29   55,000

[139919 rows x 4 columns]

In [37]:
imsi = price.copy()

In [38]:
imsi.insert(loc = 11, column = '주거래은행', value = np.nan)

In [39]:
imsi.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액,주거래은행
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000",NaN
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000",NaN
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000",NaN
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000",NaN
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000",NaN

In [43]:
imsi = imsi.rename(columns = {'주거래은행': '주거래'})

In [44]:
imsi.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액,주거래
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000",NaN
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000",NaN
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000",NaN
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000",NaN
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000",NaN

In [48]:
cols = []
for col in imsi.columns:
    if '거래' in col:
        cols.append(col)

In [49]:
cols

['거래일', '거래금액', '주거래']

In [50]:
imsi[cols]

               거래일     거래금액  주거래
0       2020-01-03  100,000  NaN
1       2020-01-02  162,000  NaN
2       2020-01-06   88,000  NaN
3       2020-01-09  130,000  NaN
4       2020-01-20  149,000  NaN
...            ...      ...  ...
139914  2022-12-03   53,000  NaN
139915  2022-12-06  135,000  NaN
139916  2022-12-10   77,000  NaN
139917  2022-12-06  145,500  NaN
139918  2022-12-29   55,000  NaN

[139919 rows x 3 columns]

In [45]:
imsi.loc[:, imsi.columns.str.contains('거래')]

        주거래
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
139914  NaN
139915  NaN
139916  NaN
139917  NaN
139918  NaN

[139919 rows x 1 columns]

In [55]:
cols = ['총거래금액', '현재총계약금액', '잔존금액', '잔존총금액', '총계약금액2020']
imsi = pd.DataFrame(columns = cols)
imsi.head()

Empty DataFrame
Columns: [총거래금액, 현재총계약금액, 잔존금액, 잔존총금액, 총계약금액2020]
Index: []

In [56]:
imsi.loc[:, imsi.columns.str.contains('총금액')]

Empty DataFrame
Columns: [잔존총금액]
Index: []

In [57]:
imsi.loc[:, imsi.columns.str.contains('총.+금액')]

Empty DataFrame
Columns: [총거래금액, 현재총계약금액, 총계약금액2020]
Index: []

In [59]:
imsi.loc[:, imsi.columns.str.contains('^총.+금액')]

Empty DataFrame
Columns: [총거래금액, 총계약금액2020]
Index: []

In [60]:
imsi.loc[:, imsi.columns.str.contains('총.+금액$')]

Empty DataFrame
Columns: [총거래금액, 현재총계약금액]
Index: []